- y = 0
- pieces.split("/").each do |rank|
  - x = 0
  - rank.split("").each do |item|
    - if item.match(/\A[1-8]\z/)
      - x += item.to_i * size
    - else
      - if item.match(/\A[kqrbnp]\z/i)
        %use{"xlink:href" => "#piece-#{item}", x: x, y: y}
      - x += size
  - y += size
