- if cond
  = form_tag kanjis_path, method: :get, class: "form-inline dropdown-item nav-link" do
    = label_tag :qk, t("vocab.dropdown.kanji"), class: "sr-only"
    = text_field_tag :qk, params[:qk], class: "form-control", placeholder: t("vocab.dropdown.kanji"), size: size
