:ruby
  inputs = [
    [:name,     t("team.name"),     :text,   maxlength: Team::MAX_NAME],
    [:short,    t("team.short"),    :text,   maxlength: Team::MAX_SHORT],
  ]
= render "utils/crud/form", object: team, index: teams_path, inputs: inputs, title: title
