- teams.matches.each do |team|
  %tr.d-flex
    %td.col-7= link_to team.name, team, "data-turbo" => "false"
    %td.col-4= team.short
    %td.col-1.text-center= team.division
= render "utils/pagination_links", pager: teams, columns: 3
