:ruby
  inputs = [
    [:title,     t("misa.title"),     :text,   maxlength: Misa::MAX_TITLE],
    [:category,  t("misa.category"),  :select, menu: misa_category_menu(misa.category, new_record: misa.new_record?)],
    [:url,       t("misa.url"),       :text,   maxlength: Misa::MAX_URL],
    [:alt,       t("misa.alt"),       :text,   maxlength: Misa::MAX_URL],
    [:minutes,   t("misa.minutes"),   :text,   maxlength: Misa::MAX_MINUTES],
    [:published, t("misa.published"), :text],
    [:japanese,  t("misa.japanese"),  :check_box],
    [:note,      t("misa.note"),      :text_area, rows: 30],
  ]
= render "utils/crud/form", object: misa, index: misas_path, inputs: inputs, title: title, center: center(xl: 8, lg: 10)
