#notes.modal.fade{tabindex: "-2", role: "dialog", "aria-labelledby" => "notes-title", "data-backdrop" => "false"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#notes-title.modal-title= t("notes")
        %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-label" => t("close")}
          %span{"aria-hidden" => "true"}= t("symbol.cross")
      .modal-body
      -# .modal-footer
      -#   %button{type: "button", class: "btn btn-default", "data-dismiss" => "modal"}= t("close")
