:ruby
  inputs = [
    [:title,  t("note.title"),  :text, maxlength: Note::MAX_TITLE],
    [:series, t("note.series"), :list, data: note_series_list],
    [:number, t("note.number"), :text, maxlength: Note::MAX_NUMBER],
    [:stuff,  t("note.stuff"),  :area, rows: 40],
  ]
= render "utils/crud/form", object: note, index: notes_path, inputs: inputs, title: title
