- positions.matches.each do |position|
  %tr
    %td= link_to position.name, position
    %td.text-center= position.opening.code if position.opening
    %td.text-center= position.done ? t("symbol.tick") : t("symbol.cross")
= render "utils/pagination_links", pager: positions, columns: 2
