= link_to t("wk.kanji.#{kanji.favourite? ? 'favourite_on' : 'favourite_off'}"),
  quick_favourite_toggle_wk_kanji_path(kanji),
  id: dom_id(kanji, :favourite),
  data: { turbo_method: :patch, turbo_stream: true }
