- defined?(shortcut) || shortcut = false

%tr.d-flex
  %td.col-1.text-center= link_to kanji.character, kanji,
    "data-turbo-frame" => "_top", "data-shortcut-target" => shortcut ? "single" : nil
  %td.col-5= kanji.meaning
  %td.col-5= kanji.reading
  %td.col-1.text-center= kanji.level
