- kanjis.matches.each do |kanji|
  %tr.d-flex
    %td.col-1.text-center= link_to kanji.character, kanji
    %td.col-10= kanji.meaning
    %td.col-1.text-center= kanji.level
= render "utils/pagination_links", pager: kanjis, columns: 3
