- content_for :javascript do
  = render partial: "parent_completer", formats: :js, locals: { max_born: person.new_record?? 0 : person.born, realm: person.new_record?? -1 : person.realm }

:ruby
  inputs = [
    [:last_name,    t("person.last_name"),    :text,   maxlength: Person::MAX_FN],
    [:first_names,  t("person.first_names"),  :text,   maxlength: Person::MAX_LN],
    [:known_as,     t("person.known_as"),     :text,   maxlength: Person::MAX_KA],
    [:married_name, t("person.married_name"), :text,   maxlength: Person::MAX_LN],
    [:born,         t("person.born"),         :text,   maxlength: 4],
    [:born_guess,   t("person.born_guess"),   :check],
    [:died,         t("person.died"),         :text,   maxlength: 4],
    [:died_guess,   t("person.died_guess"),   :check],
    [:male,         t("person.male"),         :check],
    [:father_id,    t("person.father"),       :combo,  menu: person_father_menu(person)],
    [:mother_id,    t("person.mother"),       :combo,  menu: person_mother_menu(person)],
    [:realm,        t("person.realm"),        :select, menu: person_realm_menu(person.realm)],
    [:notes,        t("notes"),               :area,   rows: 10],
    [:sensitive,    t("person.sensitive"),    :area,   rows: 10],
  ]
= render "utils/crud/form", object: person, index: people_path, inputs: inputs, title: title
