- if people.any?
  %tr
    %th= label
    %td
      - people.each_with_index do |person, i|
        - sep = i + 1 == people.size ? "" : ", "
        = succeed(sep) do
          = link_to person.name, person
