:ruby
  inputs = [
    [:preferred_name, t("pp.station.preferred_name"), :text, maxlength: 75, placeholder: station.display_name],
  ]
= render "utils/crud/form", object: station, index: pp_stations_path, inputs: inputs, title: title, cancel: station
