- if cond
  = form_tag readings_path, method: :get, class: "form-inline dropdown-item nav-link" do
    = label_tag :qr, t("vocab.dropdown.reading"), class: "sr-only"
    = text_field_tag :qr, params[:qr], class: "form-control", placeholder: t("vocab.dropdown.reading"), size: size
