= render "utils/title", key: "login.logins", header: true

:ruby
  inputs = [
    [:date,  t("date"),     :text, size: 16],
    [:email, t("email"),    :text, size: 16],
    [:ip,    t("login.ip"), :text, size: 16],
  ]
= render "utils/search/form", index: logins_path, inputs: inputs

.row.mt-3
  %div{class: center(xl: 6, lg: 8, md: 10)}
    %table{class: "table table-bordered table-striped table-sm"}
      %tbody{id: "results"}
        = render "results", logins: @logins
