:ruby
  color = case grammar.level
    when 1 then "success"
    when 2 then "primary"
    when 3 then "secondary"
    when 4 then "dark"
    else        "danger"
  end

= link_to grammar.level, "/grammars/#{grammar.id}/quick_level_update",
  id: dom_id(grammar, :quick), class: "btn btn-sm btn-#{color}",
  data: { turbo_method: :patch, turbo_stream: true }
