- if vocab.accent.present?
  - type = "danger"
  - if vocab.pattern_no == 0
    - type = "secondary"
  - elsif vocab.pattern_no == 1
    - type = "success"
  - elsif vocab.pattern_no == 2
    - type = "warning"
  - elsif vocab.pattern_no == 3
    - type = "info"
  %button{class: "btn-sm btn-outline-#{type}"}= vocab.accent
