- defined?(autoplay) || autoplay = nil
- defined?(title)    || title    = nil

%button.btn.btn-default.btn-xs.btn-info{type: "button", title: title, onclick: "document.getElementById('audio_#{vocab.id}').play()"}= t("symbol.audio")
%audio{autoplay: autoplay, id: "audio_#{vocab.id}"}
  %source{src: "https://cdn.wanikani.com/audio/#{vocab.audio}", type: vocab.audio_type}
