- defined?(autoplay) || autoplay = nil
- defined?(title)    || title    = nil
- defined?(text)     || text     = t("symbol.audio")
- defined?(color_id) || color_id = 0

- color = %w/info success warning danger default primary/[color_id] || "info"

%button.btn.btn-xs{type: "button", title: title, onclick: "document.getElementById('audio_#{vocab.id}').play()", class: "btn-#{color}"}= text
%audio{autoplay: autoplay, id: "audio_#{vocab.id}"}
  %source{src: "/system/audio/wani_kani/#{vocab.audio}", type: vocab.audio_type}
