- defined?(autoplay) || autoplay = nil
- defined?(title)    || title    = nil

- text = vocab.accent ? vocab.accent.to_s : "?".html_safe
- color = vocab.pattern_no ? (%w/secondary success warning info/[vocab.pattern_no] || "danger") : "outline-secondary"

%button.btn.btn-sm{type: "button", title: title, onclick: "document.getElementById('audio_#{vocab.id}').play()", class: "btn-#{color}"}= text
%audio{autoplay: autoplay, id: "audio_#{vocab.id}"}
  %source{src: "/system/audio/wani_kani/#{vocab.audio}", type: vocab.audio_type}
