.row
  .offset-md-3.col-md-6
    %table{class: "table table-bordered table-striped"}
      %thead
        %tr
          %th.text-center{colspan: 2}= t("vocab.conjugation")
      %tbody
        - t("vocab.tense").sort_by{|key,tense| tense}.each do |key,tense|
          %tr
            %td= tense
            %td= verb.conjugate(key)
