- if cond
  = form_tag vocabs_path, method: :get, class: "form-inline dropdown-item nav-link" do
    = label_tag :qv, t("vocab.dropdown.vocab"), class: "sr-only"
    = text_field_tag :qv, params[:qv], class: "form-control", placeholder: t("vocab.dropdown.vocab"), size: size
