#help.modal.fade{tabindex: "-1", "aria-labelledby" => "help-title", "aria-hidden" => "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#help-title.modal-title= content_for?(:help_title) ? yield(:help_title) : t("help")
        %button{type: "button", class: "btn-close", "data-bs-dismiss" => "modal", "aria-label" => t("close")}
      .modal-body
        = yield :help
      -# .modal-footer
      -#   %button{type: "button", class: "btn btn-primary", "data-dismiss" => "modal"}= t("close")
