:ruby
  inputs = [
    [:building, t("flat.building"), :select, menu: flat_building_menu(flat)],
    [:number,   t("flat.number"),   :select, menu: flat_number_menu(flat)],
    [:block,    t("flat.block"),    :select, menu: flat_block_menu(flat)],
    [:bay,      t("flat.bay"),      :select, menu: flat_bay_menu(flat)],
    [:category, t("flat.category"), :select, menu: flat_category_menu(flat)],
    [:name,     t("flat.name"),     :select, menu: flat_name_menu(flat)],
    [:notes,    t("notes"),         :area,   rows: 10],
  ]
= render "utils/crud/form", object: flat, index: flats_path, inputs: inputs, title: title
