:ruby
  inputs = [
    [:name,          t("star.name"),          :text,  maxlength: Star::MAX_NAME],
    [:constellation, t("star.constellation"), :list,  data: star_constellation_list],
    [:distance,      t("star.distance"),      :text],
    [:magnitude,     t("star.magnitude"),     :text],
    [:alpha,         t("star.alpha"),         :text],
    [:delta,         t("star.delta"),         :text],
    [:note,          t("star.note"),          :area,  rows: 20],
  ]
= render "utils/crud/form", object: star, index: stars_path, inputs: inputs, title: title
