:ruby
  inputs = [
    [:role,      t("user.role"),        :select, menu: user_role_menu(user)],
    [:email,     t("email"),            :text,   maxlength: User::MAX_EMAIL],
    [:password,  t("session.password"), :text],
    [:person_id, t("person.person"),    :select, menu: user_person_menu(user)],
  ]
= render "utils/crud/form", object: user, index: users_path, inputs: inputs, title: title, center: center(xl: 6, lg: 8, md: 10)
