:ruby
  inputs = [
    [:date,    t("date"),             :text],
    [:summary, t("tutorial.summary"), :text, maxlength: Tutorial::MAX_SUMMARY],
    [:notes,   t("tutorial.notes"),   :area, rows: 20],
    [:draft,   t("tutorial.draft"),   :check],
  ]
= render "utils/crud/form", object: tutorial, index: tutorials_path, inputs: inputs, title: title
