:ruby
  if team == match.home_team
    opponent = match.away_team.short
    venue = "H"
    style = "primary"
  else
    opponent = match.home_team.short
    venue = "A"
    style = "danger"
  end
  title = "#{opponent} #{match.date.strftime('%-d %b')}"

%button.btn.btn-sm.btn-tiny{title: title, class: "btn-outline-#{style}", "data-bs-toggle" => "tooltip", "data-placement" => "top"}= venue
