-# - content_for :javascript do
-#   = render "couples_completer.js", realm: partnership.realm
-#
-#       = render "utils/select_completer_for", shared.merge(param: :husband_id, text: t("partnership.husband"), menu: partnership_husband_menu(partnership), width: 4, cwidth: 3)
-#       = render "utils/select_completer_for", shared.merge(param: :wife_id, text: t("partnership.wife"), menu: partnership_wife_menu(partnership), width: 4, cwidth: 3)
:ruby
  inputs = [
    [:husband_id,    t("partnership.husband"),       :select, menu: partnership_husband_menu(partnership)],
    [:wife_id,       t("partnership.wife"),          :select, menu: partnership_wife_menu(partnership)],
    [:wedding,       t("partnership.wedding"),       :text,   maxlength: 4],
    [:wedding_guess, t("partnership.wedding_guess"), :check],
    [:divorce,       t("partnership.divorce"),       :text,   maxlength: 4],
    [:divorce_guess, t("partnership.divorce_guess"), :check],
    [:marriage,      t("partnership.marriage"),      :check],
    [:realm,         t("person.realm"),              :select, menu: person_realm_menu(partnership.realm)],
  ]
= render "utils/crud/form", object: partnership, index: partnerships_path, inputs: inputs, title: title
