:ruby
  inputs = [
    [:description, t("description"),     :text,   maxlength: Income::MAX_DESC],
    [:category,    t("income.category"), :select, menu: income_category_menu(income)],
    [:period,      t("income.period"),   :select, menu: income_period_menu(income)],
    [:amount,      t("amount"),          :text],
    [:joint,       t("income.joint"),    :text],
    [:start,       t("income.start"),    :text],
    [:finish,      t("income.finish"),   :text],
  ]
= render "utils/crud/form", object: income, index: incomes_path, inputs: inputs, title: title, center: center(xl: 8, lg: 10)
