- count = reading.audios.count
- if count > 0
  - rid = reading.id
  - index = rand(count)
  - klass = "btn-#{reading.pattern_colour}"
  %span{
    "data-controller" => "audio",
    "data-audio-rid-value" => rid,
    "data-audio-count-value" => count,
    "data-audio-index-value" => index,
    "data-action" => "click->audio#say",
  }
    %button.btn.btn-sm{
      class: "#{klass}",
      type: "button",
      "data-audio-target" => "button",
      "data-action" => "keydown->audio#update",
    }= reading.accent_display
    - reading.audios.each_with_index do |audio, idx|
      %audio{id: "audio_#{rid}_#{idx}"}
        %source{src: audio.url, type: "audio/mpeg"}
