%p
  Deed of Conditions, recorded G.R.S. (Midlothian) 8 Aug. 1997, by
  (First) Rennie's Lock Limited (who and whose successors and
  assignees are hereinafter referred to as "the Superiors"),
  proprietors of the subjects of which the subjects in this Title
  form part (which subjects, hereinafter referred to as "the
  Development" are edged in red on the Supplementary Plan to
  the Title Plan, but as regards that part tinted brown on the said
  Supplementary Plan, are limited to the airspace above said part
  tinted brown only, from a height of 6.862 metres above ordnance
  datum level to a height of 25.839 metres above said level), and
  (Second) Forth Ports plc, immediate over superiors of the
  Development in respect of their interest in the cycleway
  aftermentioned contains burdens &amp;c., in the following terms, viz:
%p
  Considering that the Superiors have erected or are about to erect
  or form on the Development ninety flatted dwelling houses, a Gallery
  Space and any other buildings which the Superiors may deem
  expedient with relative common areas and associated parking spaces
  and further considering that the Superiors have sold or are about
  to sell the flatted dwellinghouses erected on the Development and
  transfer the said Gallery Space and that in connection with the
  said sales and transfer the Superiors are about to execute Feu
  Dispositions in favour of various feuars or purchasers therefore
  the Superiors hereby Declare and Provide as follows:
