%p
  Deed of Conditions, recorded G.R.S. (Midlothian) 23 May 1996, by Forth Parts plc
  (who and whose successors are hereinafter referred to as <b>"the Superiors"</b>), propietors of
  (First) two areas of ground lying to the east of Victoria Dock delineated yellow on Plan A (under exceptions) (<b>"the Bank Site"</b>),
  (Second) the area hatched blue on the
  %a{href: "#plan"} Title Plan
  (<b>"the Shared Access Road"</b>),
  (Third) the subjects edged red on
  %a{href: "#supplement"} Supplemental Plan
  to the Title Plan (<b>"the Rennie's Lock Site"</b>),
  (Fourth) area of ground lying to east side of Victoria Dock coloured green on Plan A and Plan B (<b>"the Walkways"</b>),
  (Fifth) area of ground lying to east side of Victoria Dock coloured pink on Plan A (<b>"the Landscaping Areas"</b>),
  (Sixth) area of ground lying to east side of Victoria Dock coloured blue on Plan A and Plan B (<b>"the Main Access Roads"</b>),
  (Seventh) area of ground lying to east side of Victoria Dock coloured orange on Plan A and Plan B (<b>"the Combined Walkway and Cycle Route"</b>),
  and (Eighth) the subjects known as Leith Docks of which the said subjects (First) to (Seventh) form part (<b>"the Remaining Dock Estate"</b>),
  contains burdens &amp;c, in the following terms, viz:
%p Considering that:
%p (One) we have leased or are about to lease the Bank Site;
%p
  (Two) we have feued or are about to feu the Rennie's Lock Site to <b>Rennie's Lock Limited</b>
  who have erected or are about to erect on the Rennie's Lock Site a development of flatted
  dwellinghouses and any other buildings which may be expedient with relevant common areas
  and associated parking spaces; Therefore we the superiors declare and provide as follows;
