%p
  Feu Disposition by Forth Ports plc to Rennie's Lock Limited and
  their successors and assignees, recorded G.R.S. (Midlothian) 23 May
  1996, of 1.64 acres (0.67 hectare) of ground ("the Feu"), of which
  the subjects in this Title form part, contains the following
  burdens:
%p
  Car parking shall be prohibited on the Feu within a radius of 30
  metres of the eastern boundary of the building known as Victoria
  Quay unless there shall be a building or other form of permanent
  structure lying between any such parking facilities and the said
  eastern boundary.
