%hr
%hr

%a{name: "notes"}
%h2 Notes

%p
  These notes are not part of the deeds. They were added when photocopies
  of the deeds were transcribed into a digital format for these web pages.

%dl.dl-horizontal
  %dt [1]
  %dd Errata: "Resident's Isle Site" replaced by "Rennie's Isle Site".
