%hr

%a{name: "plan"}
%h2.text-center Title Plan
%img.img-responsive.center-block{src: "images/plan.jpg"}

%hr

%a{name: "supplement"}
%h2.text-center Supplementary Plan
%img.img-responsive.center-block{src: "images/supplement.jpg"}
