%hr

%a{name: "plan"}
%h2.text-center Title Plan
.row.mt-3
  .offset-1.col-10.text-center
    %img.img-fluid{src: "images/plan.jpg"}

%hr

%a{name: "supplement"}
%h2.text-center Supplementary Plan
.row.mt-3
  .offset-1.col-10.text-center
    %img.img-responsive.center-block{src: "images/supplement.jpg"}
