%dl
  %dt PROPRIETOR
  %dd
    %p
      1 MARK JOHN LEGARD ORR and SANDRA MARY DICKIE spouses,
      65 Barronscourt Terrace, Edinburgh EH8 7EN.
  %dt DATE OF REGISTRATION
  %dd
    %p 26 OCT 2012
  %dt CONSIDERATION
  %dd £156,800
  %dt DATE OF ENTRY
  %dd 05 OCT 2012

%dl.dl-horizontal
  %dt Note 1
  %dd
    %p
      There are in respect of the subjects in this Title no subsisting occupancy rights,
      in terms of the Matrimonial Homes (Family Protection) (Scotland) Act 1981, of
      spouses of persons who were formerly entitled to said subjects.
  %dt Note 2
  %dd
    %p
      There are in respect of the subjects in this Title no subsisting occupancy rights,
      in terms of the Civil Partnership Act 2004, of partners of persons who were formerly
      entitled to said subjects.
