%dl
  %dt DATE OF FIRST REGISTRATION
  %dd
    %p 26 OCT 2012
  %dt DATE TITLE SHEET UPDATED TO
  %dd
    %p 26 OCT 2012
  %dt DATE LAND CERTIFICATE UPDATED TO
  %dd
    %p 26 OCT 2012
  %dt INTEREST
  %dd
    %p PROPRIETOR
  %dt MAP REFERENCE
  %dd
    %p NT2776NW
  %dt DESCRIPTION
  %dd
    %p
      Subjects 13/6, RENNIE'S ISLE, EDINBURGH EH6 6QB within the land edged red on the
      Supplementary Plan to the Title Plan being that flat on the third floor above the
      ground floor of the block tinted blue on the Title Plan with the car parking space
      tinted pink on the said Title Plan. Together with (One) a pro indiviso right along
      with the proprietors of the other properties in the Rennie's Lock, Edinburgh
      Development of which the subjects in this Title form part to (a) the Access Route
      and (b) the Common Parts and Common Amenity Ground as defined in the Deed of
      Conditions in
      %a{href: "#D3"} Entry 3
      of the Burdens section; (Two) those rights specified in the said Deed of Conditions
      and (Three) those rights specified in the Deed of Conditions in
      %a{href: "#D1"} Entry 1
      of the Burdens Section.
