%p
  The Proprietors shall be bound to adhere to a common colour scheme
  in respect of the exterior parts of the Blocks and the Flats
  therein, the common parts thereof and all woodwork, window frames,
  balconies, rhones, gutters and others. In the event of any
  disagreement amongst Proprietors as to the colour of the
  exterior parts of the Blocks or as to the necessity for
  redecorating or painting the Blocks or any part thereof the
  Proprietors or any of them shall submit the matter to the Factor
  whose decision shall be final and binding on all Proprietors.
