%p
  3.1 Each Flat shall be held by the Proprietor thereof in all time
  coming under the obligation jointly with the other Proprietors of
  the Flats in the Blocks of upholding and maintaining in good order
  and repair and from time to time when necessary renewing and
  restoring the Common Parts of the Blocks and of cleaning,
  repainting and decorating the Common Parts of the Blocks. Declaring
  that the Proprietors will have a right of access to the roof
  through the loft/attic space by the hatchways leading thereto and
  situated within a Flat (if any) for the purpose of maintenance,
  repair or renewal of the roof and for all other necessary purposes
  subject always to making good all damage occasioned thereby. All
  expenses and charges incurred under the foregoing obligation and of
  any other work done or services rendered in respect of the Common
  Parts of the Blocks shall be payable by the whole Proprietors of
  the Flats in the Blocks equally according to the number of Flats in
  the Blocks. For the avoidance of doubt the Proprietors in;
%p
  (a) Blocks 1 and 2 will each pay a one ninth share of subjects 7 Rennie's Isle.
%p
  (b) Blocks 3 and 4 will each pay a one ninth share of subjects 9 Rennie's Isle.
%p
  (c) Block 5 will each pay a one quarter share of subjects 10 Rennie's Isle.
%p
  (d) Blocks 6 and 7 will each pay a one ninth share of subjects 11 Rennie's Isle.
%p
  (e) Blocks 8 and 9 will each pay a one eighth share of subjects 13 Rennie's Isle.
%p
  (f) Blocks 10 and 11 will each pay a
  = render "pages/deeds/note_ref", phrase: "one sixth", number: 10
  share of subjects 15 Rennie's Isle.
%p
  (g) Blocks 12 and 13 will each pay a one eighth share of subjects 16 Rennie's Isle.
%p
  (h) Blocks 14 and 15 will each pay a one eighth share of subjects 17 Rennie's Isle.
%p
  (i) Blocks 16 and 17 will each pay a one sixth share of subjects 18, 19 and 20 Rennie's Isle.
%p
  (j) Blocks 18 and 19 will each pay a one ninth share of subjects 21 Rennie's Isle.
%p
  (k) Blocks 20 and 21 will each pay a one ninth share of subjects 5 Rennie's Isle.
%p
  (l) Blocks 22 and 23 will each pay a one sixth share of subjects 6 Rennie's Isle.
%p
  For the avoidance of doubt the Proprietors of the Gallery Space
  shall be regarded as being Proprietors of one Flat in subjects 13
  Rennie's Isle and one Flat in subjects 15 Rennie's Isle.
%p
  In the event of the Superiors being dissatisfied as to the
  maintenance, repair and renewal as aforesaid, the Superiors may
  carry out the necessary work and recover the cost thereof equally
  from each Proprietor in the relevant Blocks Declaring that
  notwithstanding the foregoing
%p
  (1) that the Proprietors of Flats on the ground floor of the said
  Development and the Proprietors of flats within a Block not served by
  = render "pages/deeds/note_ref", phrase: "a lift", number: 11
  shall not be liable to share the maintenance, repair or
  renewal of the lift or any apparatus pertaining thereto, the full
  cost of such maintenance, repair or renewal to be shared equally
  among the remaining Proprietors of the relevant Block. Further,
  Proprietors of maindoor Flats will have no right of access to the
  common stairway and shall not be liable for any cost of
  maintenance, repair or renewal thereof, the full cost of such
  maintenance, repair or renewal to be shared equally among the
  remaining Proprietors of the relevant Blocks.
%p
  3.2 Without prejudice to the foregoing the Proprietors shall be
  bound to maintain the Common Services all to the satisfaction of
  the Superiors and the appropriate Local Authority. The cost of
  maintenance of the Common Services is to be shared as in 3.1 above.
  Where the Common Services pass from one Flat through any of the
  others, the Flat or Flats through which the Common Services pass
  shall be subject to a servitude right of wayleave in favour of the
  Proprietors using the same and they shall be entitled to access
  thereto, when required, for maintenance and renewal and any other
  necessary purposes, subject always to making good and restoring all
  damage occasioned thereby.
%p
  3.3 In the event of any Proprietor of a Flat considering it
  necessary or desirable that any repairs or renewals or decoration
  or other works should be executed to the Common Parts of the Blocks
  or the Common Services and of a majority of the Proprietors of the
  Blocks present in person or represented at a meeting convened and
  held in accordance with Clause 8 hereof, refusing to sanction such
  repairs, renewals, decoration or other works or in the event of any
  such Proprietor considering that any repairs or renewals or
  decoration or other work upon the Common Parts of the Blocks or
  the Common Services ordered or sanctioned at any such meeting are
  unnecessary or undesirable such Proprietor shall be entitled to
  refer the question to the Factor appointed in terms of Clause 9
  hereof and in the event of the Factor deciding that all or any of
  such repairs, renewals, decoration or other works are necessary or
  desirable, the Factor shall have power to order them to be executed
  forthwith and the expense thereof shall be borne by all of the
  Proprietors of the Flats in the Blocks in the proportions specified
  in Clause 3.1 hereof. Any Proprietor shall be bound to intimate in
  writing to all affected Proprietors his intention so to refer the
  question to the Factor within fourteen days of the date of the
  meeting at which it was decided to execute or not to execute the
  said repairs, renewals, decoration or other works, failing which
  his right to refer the question shall be lost. The decision of the
  Factor shall be final and conclusive.
