%p
  5.1 Each Flat shall be held by the Proprietor thereof in all time
  coming under the obligation jointly with the other Proprietors of
  the Flats of keeping tidy, upholding and maintaining in good order
  and repair and from time to time where necessary renewing and
  restoring the Access Route and Common Amenity Ground including
  without prejudice to the foregoing generality the replacement of
  trees and shrubs, the cutting of grass and the sweeping, cleaning
  and lighting of the Development. All expenses and charges incurred
  in complying with the foregoing obligation and of any other work
  done or services rendered in respect of the Access Route and Common
  Amenity Ground shall be payable by the whole Proprietors in equal
  shares (the said Gallery Space counting as two Flats), so that on
  the basis of ninety Flats and the Gallery Space within the
  Development each Proprietor shall be liable for a one ninety second
  (1/92) share and the Proprietors of the Gallery Space shall be so
  liable for two such shares (except in so far as the Access Route
  and Common Amenity Ground shall have been adopted by the
  appropriate Local Authority). Declaring that except where otherwise
  required by the Superiors the Common Amenity Ground shall remain
  open and unbuilt on in all time coming and shall be kept in a clean
  and tidy condition to the complete satisfaction of the Superiors.
  In the event of the Superiors being dissatisfied as to the
  maintenance, repair and renewal as aforesaid, the Superiors may
  carry out the necessary work and recover the cost thereof equally
  from each Proprietor.
%p
  In the event of any Proprietor of a Flat considering it necessary
  or desirable that any repairs or other works should be executed to
  the Common Amenity Ground and/or the Access Route and of a majority
  of the Proprietors present in person or represented at a meeting
  convened and held in accordance with Clause 8 hereof refusing to
  sanction such repairs, renewals or other works or in the event of
  any such Proprietor considering that any repairs, renewals or other
  works upon the Common Amenity Ground ordered or sanctioned at any
  such meeting are unnecessary or undesirable shall be entitled to
  refer the question to the Factor appointed in terms of Clause 9
  hereof and in the event of the Factor deciding that all or any of
  such repairs, renewals, decoration or other works are necessary or
  desirable the Factor shall have power to order the same to be
  executed forthwith and the expense thereof shall be borne by all of
  the Proprietors in the proportions specified in Clause 5.1 hereof.
  Any Proprietor shall be bound to intimate in writing his intention
  so to refer the question to the Factor within fourteen days of the
  date of the meeting at which it was decided to execute or not to
  execute the said repairs or other works failing which his right to
  refer the question shall be lost. The decision of the Factor shall
  be final and conclusive.
