%p
  10.1 The Main Access Roads shall be maintained as roads in all time
  coming in a good, substantial and safe condition and properly lit
  all up to a standard whereby they are capable of adoption by the
  appropriate Local Authority by the Proprietor thereof who shall
  repair, renew and rebuild same as necessary.
%p
  10.2 The Main Access Roads shall remain open and unbuilt on in all
  time coming. Provided that notwithstanding the foregoing, the
  Proprietor of the Main Access Roads shall be permitted to close
  temporarily any part of the Main Access Roads (save the road shown
  coloured blue on Plan A which must remain sufficiently open so as
  to allow the passage of one vehicle at a time at all times)
  provided that in that event the said Proprietor shall provide an
  alternative access for pedestrian and vehicular traffic during the
  whole period of any such closure, such alternative access to be of
  a substantially similar standard to and not materially less
  convenient than the Main Access Roads.
