%p
  6.1 No alterations, additions, rebuilding or reconstruction
  including the replacement of windows shall be made on or to any
  Flat without the prior written consent of the Superiors and (if
  necessary) any over-Superiors and in particular without prejudice
  to that generality the cutting or boring of holes in common or
  party walls or in the plasterwork, plasterboard or other facing
  thereof is expressly prohibited (but that nothing in the foregoing
  shall prohibit any Proprietor from hanging pictures or cabinets or<sup>[<a href="#note11">11</a>]</sup>
  carrying out other minor works not involving any permanent damage
  to the Flat). Any alterations or others as aforesaid shall conform
  in all respects to any Local Authority Historic Scotland Town and
  Country Planning and other relevant statutes and regulations in
  that behalf and all gas or electric installations shall comply with
  the requirements of any Statutory Undertakers.
%p
  6.2 No boundary walls or fences shall be altered or added to except
  by way or repair and no further boundary, division or other walls
  or fences, trellis work or ornamental fencing or draft board
  fencing shall be erected anywhere on the Development nor shall
  boundary walls or fences be used as support or strengthening for
  such trellis work, ornamental fencing or draft boarding fencing
  without the written consent of the Superiors.
%p 6.3 The Proprietors of the Flats shall
%p
  (i) not be entitled to paint, decorate or in any way alter the
  external appearance of the Blocks or Flat to which they have right
  or the windows or the outside doors thereof or erect television or
  satellite dishes on any part of the Blocks or the Common Parts and
%p
  (ii) unless a majority of the Proprietors agree otherwise, as
  hereinbefore provided, not be entitled to paint, decorate or alter
  the appearance of the hallways, common passages or stairs.
