%p
  The Proprietors of each of the subjects (First) to (Eighth)
  hereinbefore described hereby acknowledge<sup>[<a href="#note6">6</a>]</sup> that it is intended to
  erect a development of flatted dwellinghouses on the Rennie's Lock
  Site and thereafter to feu or dispose said flatted dwellinghouses
  separately, granting to the individual proprietors servitude rights
  over the remainder of the Whole Subjects in the same terms mutatis
  mutandis as those granted to the Proprietor of the Rennie's Lock
  Site herein and that it is intended to erect on the Bank Site a
  Bank Branch with associated car parking and to allow the servitude
  rights granted to the Proprietor of the Bank Site over the
  remainder of the Whole Subjects to be exercised by the tenants of
  the Bank Site and their employees, contractors and customers (in so
  far as appropriate) and the Proprietors of the said subjects
  (First) to (Eighth) hereinbefore described agree that the said
  servitude rights shall be exerciseable by such persons
  notwithstanding the fact that the burden of the said servitude
  rights may thereby be increased.
