%p
  7.1 The Landscaping Areas shall remain unbuilt upon and shall be
  maintained by the Proprietor thereof in a neat and tidy condition
  in all time coming and where appropriate, well stocked with shrubs,
  trees and plants. The use of the Landscaping Areas or any part
  thereof for any purpose other than as gardens, decorative or
  amenity ground is prohibited.
%p
  7.2 The Proprietor of the Rennie's Lock Site and the Proprietor of
  the Bank Site shall have the following rights over the Landscaping
  Areas;
%p
  7.2.1 a right to enter onto the Landscaping Areas for the purpose
  of erecting, maintaining, repairing, renewing, altering and
  improving any adjoining or neighbouring subjects;
%p
  7.2.2 a heritable and irredeemable servitude right of vehicular and
  pedestrian access for the purposes of laying, maintaining,
  repairing, renewing, improving, connecting to and making use of or
  altering the route of any Service Media within the Landscaping
  Areas;
%p
  7.2.3 a heritable and irredeemable servitude right to lay,
  maintain, repair, renew, improve, connect to and make use of or
  alter the route of any Service Media within the Landscaping
  Areas; Provided that the rights in sub-clauses 7.2.1 and
  = render "pages/deeds/note_ref", phrase: "7.2.2", number: 4
  hereof and the exercise thereof shall be subject to the following
  conditions;
%p
  7.2.3.1 the party exercising the said rights shall be bound to make
  good to the reasonable satisfaction of the Proprietor of the ground
  over which the rights are exercised all damage caused directly or
  indirectly by the exercise of the said rights;
%p
  7.2.3.2 save in the case of emergency the said rights shall not be
  exerciseable until seven working days' prior written notice has
  been given to the Proprietor of the ground over which it is
  proposed to exercise the said right;
%p
  7.2.3.3 the party exercising the said rights shall be bound to
  exercise same so as to cause the least practicable inconvenience to
  the Proprietor of the ground over which the rights are exercised
  and all other parties having rights over the same ground.
