%p
  All questions, differences and disputes which may arise among the
  Proprietors or any of them regarding
%p
  (i) their rights and interests in the Development or any part
  thereof,
%p
  (ii) the necessity for executing any works, whether common or not,
  or the liability for the cost thereof,
%p
  (iii) the reasonableness or expediency of any order, regulation,
  decision, determination or appointment made at any meeting of
  the Proprietors convened and held as aforesaid and
%p
  (iv) all other questions so far as depending upon or otherwise
  arising out of or in respect of these presents in any manner of way
  (except in all cases any questions which may be referred to the
  Factor in terms of Clauses 3 and 5),
%p
  shall be referred (in a case
  arising under Sub-Clause (iii) of this Clause within fourteen days
  of the meeting in question) to the amicable decision of the Sheriff
  Principal of Lothian and Borders or any of the Sheriffs at Lothian
  and Borders or any other suitable person appointed by the said
  Sheriff Principal or any of the said Sheriffs as Arbiter and
  whatever the said Arbiter determines shall be final and
  binding in all matters of law as well as of fact upon all
  concerned, and the Proprietors concerned shall be bound to
  implement and fulfil to each other the decisions, findings and
  decrees of the said arbiter, with power to the said Arbiter to take
  skilled advice and order the execution or performance of works and
  to apportion the cost thereof among the said Proprietors to vary or
  annul any such order, regulation, decision, determination or
  appointment and to find all or any of them liable in the expenses
  of the arbitration and to decern accordingly. The application of
  Section 3 of the Administration of Justice (Scotland) Act 1972 is
  expressly excluded.
