%p
  2.1 Each Proprietor of a Flat shall have an equal pro indivisio
  right of property in common with the other Proprietors of the Flats
  to the Common Parts of the Blocks and to the Common Amenity Ground
  and (so far as in the ownership of the Superiors) the Common
  Services. The Common Parts shall be for the use and benefit of all
  Proprietors.
%p
  2.2 Each Proprietor shall be entitled to exercise access and egress
  over the Access Route to the extent permitted by the Superiors.
