%p
  Each Proprietor of a Flat shall maintain and when necessary renew
  the same and the fittings therein, the window frames and glass in
  the windows thereof and any stairs and stairway exclusively serving
  the same in a good state of repair and decoration and shall take
  all appropriate steps to prevent damage to the fabric of the Blocks
  of which the Feu forms part and in particular by control of vermin
  and immediate treatment of any wood rot or infestation in the
  floors, skirting boards, joists, doors, walls, ceilings, mouldings
  and others and by the repair of any damage to the water supply
  pipes, soil and water pipes and gas or electric cables, pipes or
  appliances within his own Flat and in the event of failure by any
  Proprietor to take timeous and adequate measures to prevent or
  repair such damage he shall be liable for any additional damage to
  other parts of the Blocks arising from such failure. If in the
  opinion of the Factor, it is necessary or desirable for the
  protection, appearance or general amenity of the Blocks that any
  works of repair, maintenance, renewal or decoration be carried out
  in or upon any Flat therein he may serve notice upon the Proprietor
  thereof requiring the performance of such works as are specified in
  the notice within a period stated therein. The Proprietor to whom
  such notice is sent shall be entitled within twenty one days of its
  receipt to appeal to the Arbiter appointed in terms of Clause 15
  hereof to decide whether the works specified or any of them are
  necessary or desirable for the purposes above mentioned and if the
  Arbiter considers that such works or any of them are necessary or
  desirable, to determine the period within which they shall be
  performed. In the event of failure by the Proprietor to perform
  these works within the period stated in the Factor's notice or in
  the determination of the Arbiter as the case may be, the Factor
  shall be entitled to have the work carried out and to have any
  access convenient or necessary for that purpose and to recover the
  cost thereof from the Proprietor. Where the Proprietors of two or
  more Flats have a common right of property in any part or portion
  of any of the Flats (including division walls) each Proprietor
  shall be bound to uphold and maintain in good order and repair such
  parts or portions in all time coming and in the event of damage or
  destruction restore or renew the said parts or portions paying one
  share of the cost of so doing for each Flat owned by him or her or
  them. Each Proprietor shall have a right of access to adjoining
  Flats upon reasonable notice being given except in case of
  emergency to carry out the foregoing repairs and maintenance and
  each Proprietor shall allow a right of access to adjoining
  Proprietors over their Flat again upon reasonable notice being
  given except in case of an emergency for the purpose of repairs and
  renewals subject to restoration of all damage caused thereby.
