%p
  So far as regards the Development and all the Flats therein (excluding
  the said Gallery Space);
%p
  10.1 Each Flat shall be used solely as a private dwellinghouse and
  for no other purpose whatever and none of the Flats shall ever in
  any way be sub-divided or occupied by more than one family at a
  time.
%p
  10.2 The Proprietors and parties occupying any of the Flats are
  hereby expressly prohibited from carrying on therein or in any
  other part of the Development any trade, business, manufactory or
  profession, or from selling of any goods or wares of any sort,
  or from using them or any of them or causing them or any of them to
  be used for any purpose which might in the opinion of the Superiors
  be deemed a nuisance and that whether or not such trade, business
  or profession is incidental to the ordinary residential use thereof
  and notwithstanding any rule of law to the contrary.
%p
  10.3 Nothing may be done on any part of the Development or in any
  building or erection thereon that may, in the sole opinion of the
  Superiors, be deemed a nuisance or likely to accasion disturbance
  to other Proprietors of parts of the Development or proprietors of
  subjects adjoining the Development or their tenants or assignees.
  On intimation by the Superiors or the Factor on their behalf, the
  Proprietor responsibe shall be bound to discontinue such nuisance
  forthwith at the expense of the offending Proprietor.
%p
  10.4 No Proprietor of any Flat shall permit any trailer, boat,
  marine craft, caravan, commercial vehicle or other vehicle of any
  sort whatsoever to be parked or stored in any part of the
  Development other than private motor cars, motor cycles or bicycles
  or the temporary parking of normal tradesman's delivery vans or
  removal contractors' vehicles. Each proprietor will be entitled to
  park a car in the space which he is entitled to use, the car
  parking spaces being allocated in accordance with the Feu
  Disposition or any other conveyance in favour of the proprietors.
  No Proprietor of any Flat shall permit any vehicle to be driven,
  parked or stored on the said cycleway (except in so far as the said
  cycleway crossed the Access Route).
%p
  10.5 Every Proprietor and his tenants and occupiers are hereby
  expressly prohibited from keeping poultry, ducks, pigeons, rabbits,
  bees or other livestock or from breeding animals and shall not be
  entitled to keep more than one dog or cat and that only provided
  that such animal shall not prove to be a nuisance to other
  Proprietors; and it is hereby expressly provided that all dogs
  shall be kept under control within the Development and shall at no
  time be allowed to run unfettered within the same or to foul the
  footways, other footpaths or accessways, Common Amenity Ground or
  public open spaces.
%p
  10.6 No shops or other buildings shall be erected on the
  Development for the sale of any wines or spirits or other excisable
  liquors or for the making or manufacturing of any goods for sale.
%p
  10.7 No board, card, plate, sign or advertisement notice of any kind
  shall be placed on the Development or in or about any Flat without
  the written consent of the Superiors except two small plates
  showing the Proprietor's name and the name of number of the Flat.
%p
  10.8 No trees, hedgerows or shrubs on or overhanging any part of
  the Development shall be cut down, lopped, damaged or removed from
  any part thereof unless they have become dangerous or overgrown,
  without the prior consent in writing of the Superiors.
%p
  10.10 The Proprietors shall be bound to protect the Scheduled
  Monuments during any maintenance activities to be carried on in the
  Development. The Proprietors are specifically required to seek
  written permission from Historic Scotland prior to the erection of
  any scaffolding or commencement of any work (adjacent to the
  Scheduled Monuments) or before the use of maintenance vehicles.
%p So far as regards the Gallery Space;
%p
  10.11 The Gallery Space shall be used solely as a gallery and for
  no other purpose whatever. The Gallery Space shall not in any way
  be sub-divided or occupied as more than one unit at any time.
%p
  10.12 The Proprietor of the Gallery Space shall be permitted a
  vehicular and pedestrian right of access over the Access Route for
  fire access only. The Proprietor of the Gallery Space or any
  visitors thereto shall not be entitled to park any vehicles in the
  car parking spaces or on the Access Route at any time.
%p
  10.13 The Gallery Space shall not be used for the sale of any wines
  or spirits or other excisable liquors or for the making or
  manufacturing of any goods for sale.
%p
  10.14 No trees, hedgerows or shrubs on or overhanging any part of
  the Development shall be cut down, lopped, damaged or removed from
  any part thereof unless they have become dangerous or overgrown,
  without the prior consent in writing of the Superiors.
%p
  10.15 The Proprietor of the Gallery Space shall not do anything
  which shall cause an increase in the premiums payable for the
  insurances maintained under this Deed or do anything which may
  render such insurances void or voidable (Declaring that use of the
  Galley Space as a gallery shall be deemed not to be a use which
  will increase the insurance premiums or render such insurances void
  or voidable). In the event of the Proprietor of the Gallery Space
  breaching the foregoing provision (or any other provision of this
  Deed) then, without prejudice to any other rights which the other
  Proprietors or the Superiors may have, such Proprietor shall be
  liable to all other Proprietors and the Superiors in damages and
  without prejudice to that generality, shall be liable for the cost
  of any increase in insurance premiums and for any shortfall in
  insurance monies received as a result of the act, neglect, omission
  or default of the Proprietor.
%p
  10.16 The said Proprietor of the Gallery Space shall be bound to
  protect the Scheduled Monuments during any maintenance activities
  to be carried on in the Development. The Proprietors are
  specifically required to seek written permission from Historic
  Scotland prior to the erection of any scaffolding (adjacent to the
  Scheduled Monuments) or before the use of maintenance vehicles
  or commencement of any work.
%p
  10.17 No board, card, plate<sup>[<a href="#note12">12</a>]</sup>, sign or advertisement notice of any kind
  shall be placed on the Gallery Space without the prior written
  showing the Proprietor's name and the name of number of the
