%p
  All questions, differences and disputes which may arise among the
  Proprietors or any of them or between the Proprietors or any of
  them and the Superiors or arising out of or in respect of these
  presents in any manner or way shall be referred to the decision of
  (the Sheriff Principal of Edinburgh or any of the Sheriffs at
  Edinburgh) or any other suitable person appointed (the said Sheriff
  Principal or any of the said Sheriffs) as arbiter and whatever the
  said arbiter shall determine shall be final and binding in all
  matters of law as well as of fact upon all concerned, and the
  Proprietors concerned will be bound to implement and fulfil to each
  other the decisions, findings and decrees of the said Arbiter, with
  power to the said Arbiter to take skilled advice and order the
  execution or performance of works and to apportion the cost thereof
  among the said Proprietors and to find all or any of them liable in
  the expenses of the arbitration and to decern accordingly. The
  application of Section 3 of the Administration of Justice
  (Scotland) Act 1972 is expressly excluded.
