%p
 It is hereby expressly provided and declared that if any Proprietor
 shall contravene or fail to implement any of the reservations,
 burdens, conditions and others herein herein written his Flat and all
 property and parts held by him exclusively and in common in
 connection therewith shall in the option of the Superiors revert
 and belong to the Superiors free and unencumbered as if the
 original feu writ or other conveyance had never been granted by the
 Superiors.
