%p
  The Proprietor of the Rennie's Lock Site and the Proprietor of the
  Bank Site shall together with their respective tenants and others
  deriving right therefrom have the following heritable and
  irredeemable servitude rights over the Main Access Roads;
%p
  9.1 a non-exclusive right of pedestrian and vehicular access to and
  egress from the Rennie's Lock Site and the Bank Site respectively
  over the Main Access Roads exerciseable by all pedestrian and
  vehicular traffic, in all time coming;
%p
  9.2 a right of vehicular and pedestrian access for the purposes of
  laying, maintaining, repairing, renewing, improving, connecting to
  and making use of or altering the route of any Service Media;
%p
  9.3 a right to lay, maintain, repair, renew, improve, connect to
  and make use of or alter the route of any Service Media;
%p
  9.4 provided that (save as provided in Clause 9.5 hereof) the
  rights specified in Clauses 9.2 and 9.3 hereof and the exercise
  thereof shall be subject to the following conditions;
%p
  9.4.1 the party exercising the said rights shall be bound to
  exercise same so as to cause the least practicable inconvenience to
  the Proprietor of the Main Access Roads and others having rights in
  respect of same and their respective businesses and shall be bound
  to comply with any reasonable directions imposed by the Proprietor
  of the Main Access Roads with regard to the exercise of such rights;
%p
  9.4.2 the party exercising said rights shall be bound to make good
  to the reasonable satisfaction of the Proprietor of the Main Access
  Roads all damage caused directly or indirectly by the exercise of
  the said rights;
%p
  9.4.3 save in the case of emergency the said rights shall not be
  exercisable until three months' prior written notice has been
  given to the Proprietor of the Main Access Roads;
%p
  9.5 Notwithstanding the terms of Clause 9.4 hereof, the rights
  specified in Clauses 9.2 and 9.3 hereof shall be exerciseable over
  that road forming part of the Main Access Roads shown coloured blue
  on Plan A subject to the conditions specified in sub-clauses 8.3.3
  and 8.3.4 hereof only and the conditions specified in sub-clauses
  9.4.1 to 9.4.3 hereof inclusive shall not apply.
%p
  9.6 None of the rights contained in this Clause 9 shall be
  exercised by any party in such a way so as to prejudice the
  adoption for maintenance of the the Main Access Roads by the relevant
  statutory authority and, in particular, any reasonable conditions
  imposed by the said authority as a condition of such adoption shall
  wherever reasonably practicable, be complied with by the party
  exercising the said rights or any of them provided that any such
  conditions are intimated to the said party in writing by the
  proprietor of the ground over which the right in question is to be
  exercised prior to the commencement of any works pursuant to the
  exercise of the said rights.
