%p
  6.1 In so far as the same shall have been constructed those parts
  of the Walkways (which for the avoidance of doubt shall include the
  quay walls adjoining the Water of Leith and all parts of their
  structure both above and below ground and sea levels) shown on Plan
  A together with the continuation thereof in so far as they extend
  across Victoria Bridge shown partly on Plan A and on Plan B and the
  Combined Walkway and Cycle Route shall be maintained, repaired,
  renewed and kept in good, substantial, neat, tidy and (subject to
  Clause 6.7 hereof) unobstructed conditions, unbuilt upon and
  properly lit and fenced in all time coming;
%p
  6.1.1 In respect of that part of the Combined Walkway and Cycle
  Route which lies within the Rennie's Lock Site, by the Proprietor
  of the Rennie's Lock Site; and
%p
  6.1.2 In respect of the said parts of the Walkways and all other
  parts of the Combined Walkway and Cycle Route, by the Superiors or
  their successors in ownership thereof.
%p
  6.2 The situation and form of lighting apparatus and fencing on the
  said parts of the Walkways may not be altered except with the prior
  written consent of the Proprietor of the Rennie's Lock Site and the
  Proprietor of the Bank Site, such consent not to be unreasonably
  withheld nor a decision thereon delayed unreasonably.
%p
  6.3 The Proprietor of the Rennie's Lock Site and the Proprietor of
  the Bank Site shall have the following rights over the Walkways and
  the Combined Walkway and Cycle Route;
%p
  6.3.1 a heritable and irredeemable non exclusive servitude<sup>[<a href="#note2">2</a>]</sup>
  right of access (for pedestrians only in respect of the
  Walkways and for pedestrians and pushpikes in respect of the
  Combined Walkway and Cycle Route) to and egress from the Rennie's
  Lock Site and the Bank Site respectively in all time coming;
%p
  6.3.2 a right to enter onto the Walkways and the Combined Walkway
  and Cycle Route for the purpose for erecting, maintaining,
  repairing, renewing, altering and improving any adjoining or
  neighbouring subjects;
%p
  6.3.3 a heritable and irredeemable servitude right of vehicular and
  pedestrian access for the purposes of laying, maintaining,
  repairing, renewing, improving, connecting to and making use of or
  altering the route of any Service Media within the Walkways or the
  Combined Walkway and Cycle Route;
%p
  6.3.4 a heritable and irredeemable servitude right to lay,
  maintain, repair, renew, improve, connect to and make use of or
  alter the route of any Service Media within Walkways or the
  Combined Walkway and Cycle Route;
  provided that the rights in sub-clauses 6.3.3 and 6.3.4
  hereof and the exercise thereof shall be subject to the following
  conditions;
%p
  6.3.4.1 the party exercising the said rights shall be bound to make
  good to the reasonable satisfaction of the Proprietor of the ground
  over which the rights are exercised all damage caused directly or
  indirectly by the exercise of the said rights;
%p
  6.3.4.2 save in the case of emergency the said rights shall not be
  exercisable until seven working days' prior written notice has
  been given to the Proprietor of the ground over which it is
  proposed to exercise the said right;
%p
  6.3.4.3 the party exercising the said rights shall be bound to
  exercise same so as to cause the least practicable inconvenience to
  the Proprietor of the ground over which the rights are exercised
  and all other parties having rights over the same ground.
%p
  6.4 There shall be reserved in favour of members of the public
  generally, a right of way for pedestrians only over the Walkways
  and for pedestrians and pushbikes over the Combined Walkway and
  Cycle Route;
%p
  6.5 The Walkways shall be used as walkways only in all time coming.
  The Combined Walkway and Cycle Route shall be used as a combined
  walkway and cycle route only in all time coming provided that
  vehicular traffic shall be permitted to over the Combined
  Walkway and Cycle Route so far as may be necessary to obtain access
  to and egress from the remainder of the Rennie's Lock Site.
%p
  6.6 The parking or storage of any trailer, boat, marine craft,
  caravan, commercial vehicle or other vehicle of any sort whatsoever
  on the Walkways or the Combined Walkway and Cycle Route shall be
  prohibited.
%p
  6.7 The Proprietors thereof shall be entitled to temporarily close
  the Walkways or the Combined Walkway and Cycle Route or any part
  thereof for the purpose of carrying out works thereto in compliance
  with their obligations in terms of Clause 6.1 hereof.
%p
  6.8 None of the rights contained in this Clause 6 shall be
  exercised by any party in such a way so as to prejudice the
  adoption for maintenance of the Walkways or the Combined Walkway and
  Cycle Route by the relevant statutory authority and in particular
  any reasonable conditions imposed by said authority as a
  condition of such adoption shall, wherever reasonably practicable,
  be complied with by the party exercising the said rights or any of
  them provided that any such conditions are intimated<sup>[<a href="#note3">3</a>]</sup> to the said
  party in writing by the proprietor of the ground over which the
  right in question is to be exercised prior to the commencement of any
  works pursuant to the exercise of the said rights.
