%p
  The wall erected or to be erected between the points lettered X and Y in blue
  on the said Title Plan shall be erected as to one half of its width on the
  Rennie's Lock
  = render "pages/deeds/note_ref", phrase: "Site", number: 1
  and as to the other half
  of its width on the Bank Site and shall be maintained and kept in good order
  and repair by the Proprietor of the Rennie's Lock Site and the Proprietor or
  the Bank Site at equal and mutual expense.
