%p
  Where the consent of the Superiors is required in terms of this
  Deed or otherwise the Proprietor or Proprietors requiring such
  consent shall be responsible for the whole costs thereby properly
  incurred by the Superiors, including its own administrative costs,
  professional costs and outlays including any over-Superiors' costs
  and Value Added Tax. Where more than one Proprietor is involved the
  expenses shall be divided equally among the relevant Proprietors
  but they shall be jointly and severally liable.
