%p
  In the event that any of the Service Media shall serve any two or
  more of the said subjects (First) to (Eighth) hereinbefore
  described the Proprietors of the subjects served by such Service
  Media (hereinafter referred to as Common Service Media) shall be
  bound to maintain and keep same in a good and serviceable condition
  and to repair and where necessary, renew same, the cost of any such
  maintenance, repair or renewal and any running costs of any of the
  Common Service Media being split between the Proprietors of the
  subjects served by the Common Service Media accordingly to user
  except and to the extent that the same may be adopted by the
  relevant statutory authority for maintenace.
