%p 8.1 The Development Meetings
%p
  (a) Any two Proprietors of Flats or the Factor shall be entitled at
  any time to convene a meeting of all Proprietors of Flats which
  meeting shall be held at such reasonably convenient time and place
  as the convenor of the meeting may determine of which time and
  place of meeting not less than seven days' notice in writing shall
  be given by or on behalf of the convenor to all the Proprietors of
  Flats.
%p
  (b) At any meeting so convened any Proprietor who is entitled to
  attend may be represented by any other person as mandatory
  appointed by written mandate to attend, vote and act on behalf of
  the Proprietor giving the mandate.
%p
  (c) The quorum of a meeting of the Proprietors of the Blocks shall
  be thirty Proprietors or their mandatories (provided always that at
  least one representative from each Block is present). In default of
  a full quorum it shall be at the reasonable discretion of the
  Factor whether or not any decisions of the meetings should be given
  effect to.
%p
  (d) The Proprietors entitled to attend or his mandatory present at
  such meeting shall be entitled to one vote for each Flat owned by
  such Proprietor.
%p
  (e) It shall be competent at any such meeting by the majority of the
  votes of the Proprietors or their mandatories present,
%p
  (i) to order to be executed and thereafter to have executed any
  repairs, renewals, painting, maintenance or decoration of the
  Common Parts,
%p
  (ii) to order to be executed and thereafter to have executed any
  repairs or works to the Common Amenity Ground,
%p
  (iii) to make any decisions or amendments which may be considered
  necessary with regard to the insurance of the Blocks so far as not
  inconsistent with the provisions of this Deed and other than
  decisions regarding the amount of the insurance which shall be for
  determination in the professional opinion of the Factor or other
  professional valuer,
%p
  (iv) to make any regulations which may be considered necessary with
  regard to the preservation, cleaning, use or enjoyment of the
  Common Parts, which regulations shall be binding on all relevant
  Proprietors and
%p
  (vi) to enter into service contracts with appropriate and reputable
  contractors for not longer than three years' duration. Until the
  Superiors have sold the last Flat in the Blocks the powers
  contained in this Sub-Clause (e) shall be exerciseable by the
  Superiors alone.
%p 8.2 The Blocks Meetings
%p
  (a) Any two Proprietors of Flats within part of the Blocks served
  by a common stairway or the Factor shall be entitled at any time to
  convene a meeting of all Proprietors of Flats served by that
  stairway which meeting shall be held at such reasonably convenient
  time and place as the convenor of the meeting may determine, of
  which time and place of meeting not less than seven days' notice in
  writing shall be given by or on behalf of the convenor to all the
  Proprietors of Flats in the stairway as aforesaid.
%p
  (b) At any meeting so convened any Proprietor who is entitled to
  attend may be represented by any other person as mandatory
  appointed by written mandate to attend, vote and act on behalf of
  the Proprietor giving the mandate.
%p
  (c) The quorum of a meeting of the Proprietors of the stairway as
  aforesaid shall be four Proprietors or their mandatories.
%p
  (d) The Proprietors entitled to attend or his mandatory present at
  such meeting shall be entitled to one vote for each Flat owned by
  such Proprietor.
%p MISSING
