%p
  1.1 "the Access Route" means the area of ground tinted blue on the
  said Supplementary Plan over which the Superiors have a servitude
  right of access in common with others entitled to use such route
  for pedestrian and vehicular traffic and for all purposes.
%p
  1.2 "the Blocks" means the buildings within the Development, the
  solum of which are identified for demonstrative purposes outlined
  in black on the said Supplementary Plan.
%p
  1.3 "Common Amenity Ground" means the unbuilt on portions of the
  Development, the boundary walls of the Development, hedges,
  railings and fences enclosing or within the Development, the
  sculpture or sculptures within the Development, the car parking
  areas (tinted pink on the said Supplementary Plan), ornamental
  ground (tinted green on the said Supplementary Plan), play areas
  (hatched blue on the said Supplementary Plan) all walls within the
  Development, lay-bys, pavements, pathways, pedestrian ways
  (including any walls and/or fences relating thereto and kerbs or
  parts thereof), cycleways (tinted yellow on the said Supplementary
  Plan), (Declaring for the avoidance of doubt that the position of
  the combined Walkway and Cycle Route referred to in Deed of
  Conditions in Entry 1 shall be deemed to be amended to account with
  the position of the cycle way as shown the said Supplementary
  Plan and the said Deed of Conditions shall be construed
  accordingly), any embankments and access steps, the entrance drive,
  service roads and other areas of open space, open ground and common
  landscape (tinted mauve on the said Supplementary Plan) and all
  those parts of the Development not exclusively alienated to the
  Proprietors of the Flats and not falling<sup>[<a href="#note7">7</a>]</sup> within any other
  definition herein.
%p
  1.4 "the Common Parts" means the Common Parts of the Blocks and the
  Common Amenity Ground and the Common Services.
%p
  1.5 "Common Parts of the Blocks" means
%p
  (i) the solum on which the Blocks are erected, the foundations, the
  outside walls and all attachments to the outside walls, the gables,
  the roof, roof trusses, all structural load-bearing walls, the
  hatchway or hatchways so far as situated above the common landings
  leading to the roof and the roof window and loft/attic space so far
  as situated above the common stairs,
%p
  (ii) the outside lights, the drains, soil and rain water pipes,
  water supply pipes, tanks, cisterns, rhones, gutters, conductors,
  gas and electric mains and all pipes, cables, wires and
  transmitters and connections, services and others so far as used in
  common by the Proprietors of more than one Flat in the Blocks or
  otherwise used in common within the Development.
%p
  (iii) the entrance doors of the Blocks (and any other doors not
  leading exclusively to a Flat), locks and canopies, the entrance
  halls, the staircases with the stairs, landings, stair railings,
  stair windows, stair lights, service cupboards within the stairways
  and the walls and ceilings enclosing same.
%p
  (iv) the common television aerial and/or satellite dishes and
  cables affixed or which may be affixed to the Blocks from time to
  time,
%p
  (v) the fire fighting equipment, if any, on each floor of the
  Blocks and including, without prejudice to that generality,
  all cables and power supplies associated therewith,
%p
  (vi) the electrical door answering systems (but not the handset
  within each Flat which shall be the responsibility of the relevant
  Proprietor) or other security system and associated equipment, the
  lift and mechanisms relating thereto,
%p
  (vii) the bins stores pertaining to the blocks,
%p
  (viii) the whole parts and pertinents, fixtures and fittings
  including fitted carpets and wall and floor coverings of or in
  connection with the Blocks which are used in common by the
  Proprietors of more than one Flat.
%p
  1.6 "the Common Services" means (without prejudice to the foregoing
  definition of the Common Parts) the sewerage drains, soil, gas,
  water and other pipes, electricity, television, security and
  telephone cables and all other services serving the Development
  (whether exclusively or in common with other subjects) or any part
  or parts thereof.
%p
  1.7 "the Factor" means the individual, partnership or company
  appointed under Clause 9 hereof.
%p
  1.8 "Flat" means a flatted dwellinghouse (including any balcony
  pertaining thereto) forming part of the Development and "Flats"
  shall mean<sup>[<a href="#note8">8</a>]</sup> two or more such dwellinghouses and shall be construed
  accordingly.
%p
  1.9 "the Gallery Space" means the Ground floor Gallery Space
  hatched brown on the said Supplementary Plan declaring that the
  Gallery Space shall be regarded as a Flat for the purposes of these
  presents and the proprietor thereof will be deemed to be the
  Proprietor of a Flat for all matters excluding clause 10 hereof.
%p
  1.10 "Proprietor" means the heritable proprietor for the time being
  of any Flat and where two or more persons have title to the same,
  includes both or all of them and any obligations hereby imposed on
  them shall bind them jointly and severally and "Proprietors" shall
  mean two or more heritable proprietors as aforesaid and shall be
  construed accordingly.
