%p
  The Proprietors shall at any such meeting have power to appoint
  a Factor who shall take charge of all such matters in relation to
  the management of the Blocks and/or Development as may competently
  be dealt with at any meeting convened and held as herein provided
  and to delegate to the Factor such rights or powers as may be
  exerciseable by a majority of the Proprietors present or represented
  at such meeting with responsibility for instructing and
  administering repairs to and maintenance of the Common Parts of the
  Blocks, the Common Amenity Ground and the Common Services and to
  fix the remuneration payable to the Factor for his services (which
  shall be payable by the Proprietors to the Factor in the
  proportions specified in Clause 5.1 hereof) and the duration of his
  appointment and also to terminate the appointment of the Factor
  provided that another is immediately appointed in his place
  declaring that so long as the Superiors remain the owner of any
  part of the Blocks the powers contained in this Sub-Clause 9.1
  shall be exerciseable by the Superiors alone and declaring that
  Morrison Homes Limited incorporated under the Companies Act with
  Registered Number 82292 and having its Registered office at 12
  Atholl Crescent, Edinburgh, trading as Morrison Residential
  Management or its nominees shall be the first Factor, which
  appointment shall run for three years from the sale by the
  Superiors of the last Flat in the Blocks and shall be renewed
  annually thereafter unless terminated by a vote of the meeting as
  hereinbefore provided.
%p
  9.2 The Factor shall, unless otherwise determined at a meeting at
  which he is appointed or at any subsequent meeting of the
  Proprietors duly convened and held as aforesaid, be entitled during
  the continuance of his appointment to exercise the whole rights and
  powers which may competently be exercised at or by any such meeting
  shall to any limit of expenditure which may be fixed by the said
  Proprietors at any such meeting but excepting any matters relating
  to the appointment of the Factor, the duration of his appointment
  and his remuneration.
%p
  9.3 The Factor shall be entitled during the continuance of his
  appointment to collect from the Proprietors of the Flats the
  proportions payable by them respectively of
%p
  (i) the premiums necessary for maintaining the insurances provided
  for in Clause 1.1 hereof,
%p
  (ii) the expenses and charges incurred in maintenance of the Common
  Parts of the Blocks and the Common Services in terms Clause 3
  hereof,
%p
  (iii) the expenses and charges incurred in maintenance of the
  Common Amenity Ground and the Access Route in terms of Clause 5
  hereof and
%p
  (iv) any other sums for which the Proprietors of Flats in the
  Blocks may become liable in terms of or in furtherance of the
  provisions herein contained and the Factor shall be entitled to
  make payment of the said premiums, expenses, charges, remuneration
  and others to the insurance company or other person or persons
  entitled to receive payment thereof and in the event of any of the
  said Proprietors failing to make payment of his proportion of the
  said premiums, expenses, charges, remuneration or other sums for
  which he is liable within one month after payment of the same is
  demanded by the Factor the proportion due by such Proprietor shall
  bear interest at a rate equivalent to Four per centum per annum
  above the base lending rate of the Bank of Scotland from the date
  of demand until payment and the Factor (without prejudice to any
  rights or remedies of the other Proprietors) shall be entitled to
  sue for and recover the same and interest thereon in his own name
  together with all expenses incurred by the Factor. Provided always
  that it shall be in the option of the Factor before or after taking
  into action, to call a meeting of the Proprietors to decide if and
  to what extent such action should be pursued and that in the event
  of failure to recover such payments and/or the expense of any
  action, then such sums will fall to be paid by the other
  Proprietors as the Factor in his absolute discretion shall
  determine.
%p
  9.4 In order that the Factor shall have available a fund for the
  execution of necessary and reasonable repairs, renewals,
  maintenance and cleaning charges, insurance premiums, management
  expenses and fees, each of the Proprietors shall pay to the Factor
  on or before their taking entry to any Flat a float of TWO HUNDRED
  POUNDS (£200) STERLING in respect thereof or such greater sum as
  may be required by the Factor for the foresaid purposes. The sums
  so collected by the Factor shall be held by him in trust for behoof
  of the Proprietors for the foresaid purposes. The Factor shall
  provide a Statement of common charges, costs, premiums and other
  charges to each Proprietor on a quarterly basis in each year which
  will detail the common charges, costs, premiums and other charges
  during the preceding quarter and then payable by the Proprietor
  which shall immediately be due. Declaring that when the Proprietor
  of a Flat sells the same the Factor shall, at his opinion, deal with
  apportionment in either of the following ways, namely
%p
  (i) the Factor shall not be bound to reimburse to the Proprietor
  any sums which may be due and unexpected from the aforesaid
  payments from the date of the said Proprietor disposing of the Flat
  until the following term and any question of apportionment of such
  payments shall be a matter to be settled between the outgoing and
  incoming Proprietors and/or their respective Solicitors and no
  responsibility therefore shall fall upon the Factor, or
%p
  (ii) when the Proprietor of a Flat sells the same the Factor shall
  return any float then held by him on the Proprietor's behalf to him
  without interest, under deduction of any share of charges accrued
  to the date of sale provided that the purchaser shall have paid his
  contribution to the said fund. Declaring that so long as the said
  Morrison Residential Management are to factor the Development
  method (ii) shall be used unless otherwise determined by the
  Factor.
