%p
  12.1 There are reserved to the Superiors and those Proprietors of
  Flats having right thereto or served thereby a full right of access
  along and over all roads, pavements footpaths, lanes, the Access
  Route, the Common Parts of the Blocks and the Common Amenity Ground
  as the Superiors consider necessary and so far as the Superiors
  have rights thereto, power to use all Common Services, rights of
  way, land and other drains, pipes, cables, services and servitudes
  with power and liberty to lay or to make connections with drains,
  sewers, electric, telephone or television cables, gas and water
  mains together with all necessary rights of access for the purpose
  of inspection, repair or renewal thereof subject always to an
  obligation to restore the surface of the ground damaged thereby. In
  so far as the same is used in common by the Proprietors of several
  Flats, each Proprietor shall pay one share each for the subjects
  owned by him/her of the cost of cleaning, maintaining, renewing,
  repairing or restoring the same. The foregoing reservations and
  rights of access shall also operate in favour of persons instructed
  by the Superior or the Proprietors to carry out any inspection,
  cleaning, maintenance, repair or renewal and statutory undertakers
  in respect of electricity, gas and other services and any Factor of
  the Development or any person authorised by him to carry out such
  inspection, cleaning, maintenance, repair or renewal.
%p 12.2 There are reserved to the Superiors
%p
  (i) all rights of access which may be necessary to complete
  building and other work and also to plant any trees or shrubs on
  the Common Amenity Ground,
%p
  (ii) power to grant rights of access and egress and other
  servitudes or wayleaves over any of the roads or footpaths or parts
  held in common by the Proprietors or any of them and over the
  Access Route and
%p
  (iii) power to allocate to the Proprietor of any Flat the exclusive
  right to the use and enjoyment of a parking space notwithstanding
  that rights of common property therein may already have been
  granted to other Proprietors.
%p
  12.3 Where the Proprietor of any Flats is entitled or obliged to
  maintain any part whether solely or in common with others he and
  his duly authorised tradesmen and others shall have all necessary
  rights of access whenever reasonably required for the purpose of
  inspecting, maintaining and renewing the same, subject always to
  making good damage caused thereby.
%p
  12.4 There is expressly reserved to the Superiors the right to
  alter or modify in whole or in part the reservations, real burdens,
  conditions, provisions, limitations, obligations, stipulations and
  others herein contained and in the event of the Superiors so doing
  the Proprietor shall have no right or title to object thereto and
  shall have no claim in respect thereof and any such alteration or
  modification in respect of any one or more of the subjects shall
  not imply any similar alteration or modification in respect of any
  other subjects; Further there is hereby reserved to the Superiors
  the right to make whatever alterations or deviations as the
  Superiors consider proper upon any of the Development plans or
  feuing plans to said subjects or even to depart entirely therefrom
  and there is expressly reserved to the Superiors the right to
  dispose of any part of the said Development for such purpose as
  they may think fit or to alter or modify in whole or in part the
  foregoing conditions and in the event of the Superiors so doing, no
  Proprietor shall have any right or title to object thereto and
  shall have no claim in respect thereof.
