%p
  The Proprietor of the Rennie's Lock Site shall have the following
  rights over the Bank Site and the Remaining Dock Estate; the
  Proprietor of the Bank Site shall have the following rights over
  the Rennie's Lock Site and the Remaining Dock Estate; and the
  Proprietor of the Remaining Dock Estate shall have the following
  rights over the Bank Site and the Rennie's Lock Site;
%p
  8.1 A heritable and irredeemable servitude right of vehicular and
  pedestrian access for the purposes of;
%p
  8.1.1 erecting, maintaining, repairing, renewing or altering any
  adjoining or neighbouring subjects;
%p
  8.1.2 laying, maintaining, repairing, renewing, improving,
  connecting to and making use of or altering the route of any
  Service Media;
%p
  8.2 A heritable and irredeemable servitude right to lay, maintain,
  repair, renew, improve, connect to and make use of or alter the
  route of any Service Media;
%p
  8.3 Provided that the said rights and exercise thereof shall be
  subject to the following conditions;
%p
  8.3.1 the said right of access shall be exerciseable only over such
  parts of the Bank Site, the Rennie's Lock Site and the Remaining
  Dock Estate as shall be unbuilt upon from time to time;
%p
  8.3.2 the party exercising the said right shall be bound to
  exercise same so as to cause the least practicable inconvenience to
  the Proprietor of the ground over which the right is exercised and
  his tenants and other occupiers and their respective businesses;
%p
  8.3.3 the party exercising said right shall be bound to make good
  to the reasonable satisfaction of the Proprietor of the ground
  over which the rights are exercised all damage caused directly or
  indirectly by the exercise of the said rights;
%p
  8.3.4 save in the case of emergency the said rights shall not be
  exerciseable until seven working days' prior written notice has
  been given to the Proprietor of the ground over which it is
  proposed to exercise the said right;
%p
  8.3.5 the said right to lay or alter the route of any Service Media
  shall not be exerciseable until the route to be taken by any new
  Service Media proposed to be laid or any proposed alterations to
  the route of any existing Service Media, as appropriate, has been
  agreed in writing between the party seeking to exercise the said
  right and the Proprietor of the ground over which it is proposed to
  exercise the said right, both parties being obliged to act
  reasonably. In the event that the said parties are unable to agree
  as aforesaid then the matter shall be referred on the application
  of either party, to an arbiter appointed in accordance with Clause
  = render "pages/deeds/note_ref", phrase: "1.14", number: 5
  hereof.
