%p
  11.1 The Proprietors of each Flat shall be bound along with the
  other Proprietors of the Flats to effect with a reputable and well
  established company and keep in force in respect of the Blocks and
  relative outhouses (if any) in the names of such Proprietors (and
  their heritable creditors if appropriate) for their respective
  rights and interest per the Factor or of the Factor on their behalf
%p
  (i) a policy of insurance against property owners' liability for
  the sum of not less than ONE MILLION POUNDS (£1,000,000) STERLING
  for any one accident or such greater sum as may from time to time
  be determined by the Factor (acting reasonably) or by a
  professional valuer from time to time and
%p
  (ii) a policy of insurance against loss or damage by fire,
  explosion, lightening, flood, escape of water, storm and tempest,
  bursting or over-flowing of water pipes, tanks and apparatus,
  breaking of plate glass, riot, civil commotion, terrorism,
  malicious damage and settlement, landslip, impact, aircraft damage
  and such other risks as may from time to time be determined at a
  meeting of the Proprietors of the Flats in the Blocks convened and
  held as hereinbefore provided for at least the full reinstatement
  value thereof (such value to be determined by the Factor (acting
  reasonably) or other professional valuer from time to time, to
  include site clearance charges and professional fees). Until the
  Superiors have sold the last Flat in the Blocks they shall
  (acting reasonably) have the sole discretion as to the risks to be
  insured against and the level of cover.
%p
  11.2 The Proprietors of the Flats in the Blocks shall be liable
  = render "pages/deeds/note_ref", phrase: "inter se", number: 15
  for payment of the annual premiums of the insurance
  policies and shall be bound to pay to the Factor on demand the
  proportions payable by them respectively of the premiums in respect
  of the foregoing insurance policies. The premiums shall be
  apportioned among the said Proprietors to the effect that they
  shall each be liable for a share equivalent to the rebuild value of
  the Flat bears to the rebuild value of the Development. Declaring,
  for the avoidance of doubt, that until the Superiors have sold the
  last of the Flats in the Blocks they shall bear a proportionate
  share of the insurance premiums in respect of all the unsold Flats in
  the Blocks as if they were the Proprietors of those Flats and shall
  in all other respects (but without prejudice to their rights as
  Superiors) be treated as a Proprietor of such Flats until they are
  sold.
%p
  11.3 The Superiors shall be entitled from time to time to require
  production of the foregoing policies of insurance or any of them
  and receipts for payment of the premiums.
%p
  11.4 In the event of the Blocks or any part thereof being destroyed
  or damaged by any cause, whether an insured risk or not, all the
  Proprietors of the Blocks shall be bound to restore, rebuild or re-erect
  the same and to repair the damage within two years of the
  occurrence of such destruction or damage but without making any
  alteration in or deviation from the original design and dimensions
  of the Blocks except with the prior consent in writing of the
  Superiors (which consent shall not be unreasonably withheld or
  delayed). Declaring that no work shall commence for the re-erection,
  rebuilding, restoration or repair of the Blocks unless
  and until full and detailed plans and specifications thereof,
  showing inter alia the sites, building lines, elevations, floor
  plans, designs and colour schemes thereof and the building
  materials to be used, have been submitted to and approved in
  writing, by the Superiors (such approval not to be unreasonably
  withheld or delayed). Such re-erection, rebuilding, restoration or
  repairs shall be carried out by such person or persons and at such
  costs (including architects' or surveyors' fees) as may be
  determined or approved at a Meeting of the Proprietors, to be
  convened and held in accordance with Clause 8. All sums which may
  be received from the insurance company under a policy in respect of
  loss or damage to the buildings shall be applied forthwith in restoring
  or repairing such buildings. In the event of the cost of any such
  restoration or repairs exceeding the sum received from the said
  insurance company in respect of such loss or damage any further sum
  required to meet the said cost shall be paid by the Proprietors of
  the Flats in the proportions specified in Clause 11.2 hereof and
  shall be recoverable, if necessary, in an action, at the instance
  of the Proprietor of any one or more of the said Flats or the
  Factor, each and all of whom shall have authority to sue for and
  recover all such proportions, so far as unpaid, for and on behalf
  of all persons having an interest in the restoration and repair of
  the Blocks and in the event of the sum recovered from the said
  insurance company in respect of loss or damage to the buildings of
  the Blocks or outhouses exceeding the cost of restoration or repair
  any surplus shall be divided among the Proprietors of the said
  dwellinghouses as at the date of loss in the proportions specified
  in said Clause 11.2 hereof.
