%p 1.1 <b>"Plan A"</b> means the plan marked "Plan A" annexed hereto;
%p 1.2 <b>"Plan B"</b> means the plan marked "Plan B" annexed hereto;
%p
  1.3 <b>"Proprietors"</b> means the owner for the time being of the dominium utile of any of the
  subjects (First) to (Eighth) hereinbefore described or any part thereof and where two or more
  persons own the same includes both or all of them and any obligations hereby imposed on them
  shall bind them jointly and severally;
%p
  1.4 <b>"the Service Media"</b> means all service or conducting media including without limitation
  all watercourses, sewers, gutters, downpipes, gas pipes, fuel pipes, oil pipes, electricity
  cables, television and telephone cables, ducts, flues, distribution equipment, meters, dry
  rising fire hydrants, mains and all other plant, equipment and apparatus for the provision
  or supply of services serving the Whole Subjects or any part thereof;
%p 1.5 <b>"the Whole Subjects"</b> means the said subjects (First) to (Eighth) taken together.
