%p
  For the avoidance of doubt the Proprietor of each of the said
  subjects (First) to (Eighth) hereinbefore described shall have a
  jus quaesitum tertio in respect of the obligations hereby imposed
  on the Proprietors of the other said subjects and shall have right,
  title and interest to enforce the said obligations.
