%p
  3.1 Considering that there has been or will be erected on the Bank Site a building
  for use as a Bank, branch with relative offices together with car parking ancillary
  thereto, the Proprietor of the Bank Site shall hold same under an obligation to keep
  all areas of the Bank Site which are unbuilt upon in a neat and tidy condition and
  free from refuse (save where such refuse is stored in a bin store). Declaring that,
  without prejudice to Clause 3.2 hereof, nothing contained in this Clause shall or
  shall be deemed to prohibit or restrict any future change of use of the Bank Site.
%p
  3.2 Nothing may be done on the Bank Site or in any building or erection thereon
  which may reasonably be deemed a legal nuisance to the Proprietor of the Rennie's
  Lock Site.
