%p
  2.1 The Proprietor of the Bank Site and the Proprietor of the Rennie's Lock Site
  shall together with their respective tenants, customers and others deriving right
  therefrom, have a heritable and irredeemable servitude right of pedestrian and
  vehicular access to and egress from the Bank Site and the Rennie's Lock Site
  respectively over the Shared Access Road exerciseable by all pedestrian and vehicular
  traffic (save in respect of vehicles exceeding 2.25 metres in height which shall
  not be permitted to use the Shared Access Road) in all time coming.
%p
  2.2 The Shared Access Road shall be maintained by the Proprietors thereof in a
  good and substantial condition and properly lit at equal and mutual expense until
  such time (if any) as the Shared Access Road shall have been adopted by the
  appropriate Local Authority.
%p
  2.3 The surface of the Shared Access Road shall remain open and unbuilt on in all
  time coming and the parking or leaving of motor vehicles on the Shared Access
  Road is prohibited.
