%p
  4.1 Whereas the Proprietor of the Rennie's Lock Site has erected or is about to
  erect a development of flatted dwellinghouses together with accesses, common amenity
  areas, car parking and such other erections as the said Proprietor considers necessary
  or desirable, the Rennie's Lock Site shall be held by the Proprietor thereof in all
  time coming under an obligation to maintain all areas of ground within the Rennie's
  Lock Site which are unbuilt upon in a neat and tidy condition and free from refuse
  (save where such refuse is stored in a bin store). Declaring that, without prejudice
  to Clause 4.2 hereof, nothing contained in this Clause shall or shall be deemed to
  prohibit or restrict any future change of use of the Rennie's Lock Site.
%p
  4.2 Nothing may be done on any part of the Rennie's Lock Site or in any building or
  erection thereon which may reasonably be deemed a legal nuisance to the Proprietor
  of the Bank Site.
