%p
  It is hereby expressly provided and declared that if any Proprietor
  shall contravene or fail to implement any of the reservations,
  burdens, conditions and others herein written all property and
  parts held by him shall in the option of the Superiors revert and
  belong to the Superiors free and unencumbered as if the original
  feu writ or other conveyance had never been granted by the
  Superiors.
%p
  Note: The Plans A and B annexed to the above Deed of Conditions
  that were produced to the Keeper were not of sufficient quality for
  the parts delineated in yellow and the parts coloured green, blue
  and orange on said Plans to be identified in relation to the
  subjects in this Title.
