%p MISSING
%p
  9.4 In order that the Factor shall have available a fund for the
  execution of necessary and reasonable repairs, renewals,
  maintenance and cleaning charges, insurance premiums, management
  expenses and fees, each of the Proprietors shall pay to the Factor
  on or before their taking entry to any Flat a float of TWO HUNDRED
  POUNDS (£200) STERLING in respect thereof or such greater sum as
  may be required by the Factor for the foresaid purposes. The sums
  so collected by the Factor shall be held by him in trust for behoof
  of the Proprietors for the foresaid purposes. The Factor shall
  provide a Statement of common charges, costs, premiums and other
  charges to each Proprietor on a quarterly basis in each year which
  will detail the common charges, costs, premiums and other charges
  during the preceding quarter and then payable by the Proprietor
  which shall immediately be due. Declaring that when the Proprietor
  of a Flat sells the same the Factor shall, at his opinion, deal with
  apportionment in either of the following ways, namely
%p
  (i) the Factor shall not be bound to reimburse to the Proprietor
  any sums which may be due and unexpected from the aforesaid
  payments from the date of the said Proprietor disposing of the Flat
  until the following term and any question of apportionment of such
  payments shall be a matter to be settled between the outgoing and
  incoming Proprietors and/or their respective Solicitors and no
  responsibility therefore shall fall upon the Factor, or
%p
  (ii) when the Proprietor of a Flat sells the same the Factor shall
  return any float then held by him on the Proprietor's behalf to him
  without interest, under deduction of any share of charges accrued
  to the date of sale provided that the purchaser shall have paid his
  contribution to the said fund. Declaring that so long as the said
  Morrison Residential Management are to factor the Development
  method (ii) shall be used unless otherwise determined by the
  Factor.
