= render "utils/title", key: "pages.aoc.title", header: true

- content_for :javascript do
  = render "aoc_elm.min.js"
  = render "aoc.js", year: params[:year], day: params[:day]

%hr

.div{id: "elm-app"}
