= render "utils/title", key: "pages.board"

- content_for :javascript do
  = render "board_elm.min.js"
  = render "board.js"

.row.mb-3
  .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
    .div{id: "elm-app-1"}

.row.mb-3
  .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
    .div{id: "elm-app-2"}
