= render "utils/title", key: "pages.board"

- content_for :javascript do
  = render partial: "board_elm.min", formats: :js
  = render partial: "board", formats: :js

- (1..5).each do |id|
  .row.mb-3
    .div{class: center(xl: 4, lg: 6, md: 8, sm: 10)}
      .div{id: "elm-app-#{id}"}
