= render "utils/title", key: "pages.env"

.row
  %div{class: Sni::Center.call(xs: 10, md: 8, xl: 6)}
    %section
      .header.text-center
        %h3= t("pages.env")
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            - @sys_info.each do |key, value|
              %tr
                %th= key.to_s.humanize
                %td= value
