= render "utils/title", key: "pages.magic", header: true

- content_for :javascript do
  = render partial: "magic_elm.min", formats: :js
  = render partial: "magic", formats: :js

.div{id: "elm-app"}
