= render "utils/title", key: "pages.magic"

- content_for :javascript do
  = render partial: "magic_elm_min", formats: :js
  = render partial: "magic", formats: :js

%section
  .header.text-center
    %h3= t("pages.magic")
  .body
    #elm-app
