= render "utils/title", key: "pages.prefectures.title"

- content_for :javascript do
  = render partial: "places/map", formats: :js

.row.mt-3
  %div{class: center(xl: 6, lg: 8, md: 10)}
    = render "places/map", vb: Place::DEF_VBOX
