:ruby
  lo = Layout.new(md: [2], xs: [4]).to_a
  inputs = [
    [:season, t("match.season"), :select, lo[0], menu: season_menu(@season)],
  ]
  my_meta_tags "pages.premier"

.row
  %div{class: center(xl: 8, lg: 10)}
    %section
      .header.text-center
        %h3= t("pages.premier.title")
      .body
        = render "utils/search/form", index: premier_path, inputs: inputs, frame: nil
        = turbo_frame_tag :table, src: premier_table_path(season: @season)
