.row
  .col-xs-12
    %svg{version: "1.1", viewBox: "0 0 2000 1000"}
      %title Rennies Isle Map
      %desc Interactive map of Rennies Isle including blocks, flats and parking bays.
      = render "pages/risle/background"
      = render "pages/risle/grid"
      = render "pages/risle/bays"
