:ruby
  inputs = [
    [:name, t("constellation.name"), :text,  maxlength: Constellation::MAX_NAME],
    [:iau,  t("constellation.iau"),  :text,  maxlength: Constellation::MAX_IAU],
    [:note, t("constellation.note"), :area,  rows: 20],
  ]
= render "utils/crud/form", object: constellation, index: constellations_path, inputs: inputs, title: title
