- constellations.matches.each do |c|
  %tr
    %td= link_to c.name, c
    %td= c.iau
    %td= link_to c.stars_count, stars_path(constellation_id: c.id)
= render "utils/pagination_links", pager: constellations, columns: 3
