- defined?(return_page) || return_page = nil

%tr
  %td= example.japanese_html(frame: "_top")
  %td= example.english
  %td.text-center= example.day&.strftime("%a %-d %b %Y")
  %td.text-center= link_to t("edit"), edit_wk_example_path(example, return_page: return_page), class: "blue-btn", "data-turbo-frame" => "_top"
