- if links.any?
  .row
    .offset-md-4.col-md-4
      %h3.text-center= t("link.links")
      %table{class: "table table-bordered table-striped table-sm"}
        %tbody
          - links.each do |link|
            %tr.d-flex
              %td{class: "col-#{can?(:edit, link) ? 9 : 12}"}= link_to link.text, link.url, target: link.target
              - if can?(:edit, link)
                %td.col-3.text-center= link_to t("edit"), edit_polymorphic_path([linkable, link]), class: "btn btn-info btn-sm"
