- defined?(multiple) || multiple = false
- defined?(auto)     || auto = true
- defined?(prompt)   || prompt = nil

- data_controller = auto && !multiple ? "auto-submit"    : nil
- data_action     = auto && !multiple ? "auto-submit#go" : nil

= select_tag param, menu, class: "form-select", multiple: multiple, prompt: prompt, "data-controller" => data_controller, "data-action" => data_action
