- defined?(placeholder) || placeholder = label
- defined?(autofocus)   || autofocus = nil
- defined?(size)        || size = 10
- defined?(maxlength)   || maxlength = nil
- defined?(center)      || center = false
- defined?(value)       || value = params[param]

- klass = "form-control"
- klass += " text-center" if center

= text_field_tag param, value, class: klass, placeholder: placeholder, size: size, maxlength: maxlength, autofocus: autofocus
