-# .row
-#   .col-md-12
-#     = form_for bucket, html: { class: "form-horizontal" } do |f|
-#       %fieldset
-#         - shared = { form: f, object: bucket, col: "md", pad: 2 }
-#         = render "utils/text_field_for", shared.merge(param: :name, text: t("name"), width: 6)
-#         = render "utils/select_for", shared.merge(param: :mark, text: t("bucket.mark"), width: 2, menu: bucket_level_menu(bucket.mark))
-#         = render "utils/select_for", shared.merge(param: :sandra, text: t("bucket.sandra"), width: 2, menu: bucket_level_menu(bucket.sandra))
-#         = render "utils/text_area_for", shared.merge(param: :notes, text: t("notes"), width: 9)
-#       .row
-#         .offset-md-4.col-md-8
-#           = f.submit t("save"), class: "btn btn-primary"
-#           = link_to t("cancel"), bucket.new_record?? buckets_path : bucket, class: "btn btn-secondary"
-#           - unless bucket.new_record?
-#             = link_to t("delete"), bucket, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }

:ruby
  inputs = [
    [:name,   t("name"),          :text,      maxlength: Bucket::MAX_NAME],
    [:mark,   t("bucket.mark"),   :select,    menu: bucket_level_menu(bucket.mark)],
    [:sandra, t("bucket.sandra"), :select,    menu: bucket_level_menu(bucket.sandra)],
    [:notes,  t("notes"),         :text_area, rows: 10],
  ]
= render "utils/crud/form", object: bucket, index: buckets_path, inputs: inputs, title: title, center: center(xl: 8, lg: 10)
