- buckets.each do |bucket|
  %tr.d-flex
    %td.col-8= link_to bucket.name, bucket
    %td.col-2.text-center= t("bucket.symbol.level")[bucket.mark]
    %td.col-2.text-center= t("bucket.symbol.level")[bucket.sandra]
