- buckets.each do |bucket|
  %tr
    %td= link_to bucket.name, bucket
    %td.text-center= t("bucket.symbol.level")[bucket.mark] if bucket.mark > 0
    %td.text-center= t("bucket.symbol.level")[bucket.sandra] if bucket.sandra > 0
