- if returns.any?
  .row
    .offset-md-4.col-md-4
      %h3.text-center= t("return.returns")
      %table{class: "table table-bordered table-striped"}
        %tbody
          - returns.each do |ret|
            %tr
              %td.text-center= ret.financial_year
              %td.text-center= ret.formatted_percent
              - if can?(:edit, Return)
                %td.text-center= link_to t("edit"), edit_polymorphic_path([returnable, ret]), class: "btn btn-info btn-xs"
