.row
  .col-md-12
    = form_for t, html: { class: "form-horizontal", role: "form" } do |f|
      %fieldset
        - shared = { form: f, object: t, col: "md", pad: 4 }
        = render "utils/select_for", shared.merge(param: :level, text: t("vocab.level"), width: 2, menu: vocab_level_menu(t.level))
      .row
        .col-md-offset-4.col-md-8
          = f.submit t("save"), class: "btn btn-info"
          = link_to t("cancel"), t.new_record?? kanji_tests_path : t, class: "btn btn-default"
