- color = complete < 10 ? "danger" : (complete < 25 ? "dark" : (complete < 50 ? "warning" : (complete < 90 ? "info" : "success")))
- klass = "btn-#{color}"
%button.btn.btn-sm.small{type: "button", class: klass}= complete
