:ruby
  inputs = [
    [:series,     t("lesson.series"),     :text, maxlength: Lesson::MAX_SERIES],
    [:section,    t("lesson.section"),    :text, maxlength: Lesson::MAX_SECTION],
    [:chapter,    t("lesson.chapter"),    :text, maxlength: Lesson::MAX_CHAPTER],
    [:chapter_no, t("lesson.chapter_no"), :text, maxlength: Lesson::MAX_CHAPTER_NO],
    [:eco,        t("lesson.eco"),        :text, maxlength: Lesson::MAX_ECO],
    [:link,       t("lesson.link"),       :text, maxlength: Lesson::MAX_LINK],
    [:book,       t("lesson.book"),       :text, maxlength: Lesson::MAX_BOOK],
    [:complete,   t("lesson.complete"),   :text, maxlength: Lesson::MAX_COMPLETE],
    [:note,       t("lesson.note"),       :area, rows: lesson.new_record?? 5 : 30],
  ]
= render "utils/crud/form", object: lesson, index: lessons_path, inputs: inputs, title: title
