:ruby
  inputs = [
    [:image,       t("picture.file"),     :text,   maxlength: Picture::MAX_IMAGE],
    [:portrait,    t("picture.portrait"), :check],
    [:realm,       t("person.realm"),     :select, menu: person_realm_menu(picture.realm)],
    [:description, t("description"),      :area,   rows: 10],
  ]
  number = picture.people.size + 3
  source = "/people/match.json?realm=#{picture.realm}"
  (0..number-1).to_a.reverse.each do |i|
    inputs.insert 1, ["picture[people][]", t("picture.person", number: i + 1), :combo2, menu: picture_person_menu(picture, i), select_id: "picture_people_#{i}", source: source]
  end

= render "utils/crud/form", object: picture, index: pictures_path, inputs: inputs, title: title
