- wd = Picture::SIZE[:tn]

- Picture::SIZE.each_pair do |nm,sz|
  - unless nm == :tn
    - cols = sz / wd
    %div{class: "visible-#{nm}-block"}
      %table{class: "table-center"}
        %tbody
          - pictures.each_slice(cols) do |row|
            %tr
              - row.each do |picture|
                %td{width: wd}
                  = link_to picture do
                    = image_tag picture.image2.variant(Picture::STYLE[:tn]), width: wd, height: wd, title: picture.title, alt: picture.title
