- wd = Picture::SIZE[:tn]

- Picture::SIZE.each_pair do |nm,sz|
  - unless nm == :tn
    - cols = Picture.number_of_cols(nm)
    - klass = Picture.hidden_class(nm)
    %div{class: klass}
      %table{class: "table-center"}
        %tbody
          - pictures.each_slice(cols) do |row|
            %tr
              - row.each do |picture|
                %td{width: wd}
                  = link_to picture do
                    = image_tag picture.direct_thumbnail_path, width: wd, height: wd, title: picture.title, alt: picture.title
