= render "utils/title", key: "todo.todos"

.text-center
  - if can?(:create, Todo)
    = link_to t("todo.new"), new_todo_path, class: "btn btn-info"

%p

.row
  .col-md-offset-1.col-md-10
    %table{class: "table table-bordered table-striped"}
      %tbody{id: "results"}
        = render "results", todos: @todos
