- defined?(term) || term = :term

= form.label param, label, class: "form-label"
.row
  .col-6= form.select param, menu, {}, { class: "form-select", size: nil }
  .col-6= text_field_tag term, "", id: "#{param}_completer", class: "form-control"
