- defined?(autofocus) || autofocus = nil
- defined?(maxlength) || maxlength = nil
- defined?(placeholder) || placeholder = nil
- defined?(value) || value = nil

= form.label param, label, class: "form-label"
- if value.present?
  = form.text_field param, autofocus: autofocus, placeholder: placeholder, maxlength: maxlength, class: "form-control", value: value
- else
  = form.text_field param, autofocus: autofocus, placeholder: placeholder, maxlength: maxlength, class: "form-control"
