- defined?(max) || max = nil

- accent = reading.accent_display
- colour = reading.pattern_colour
- klass = "btn-#{colour} accent_updater updates_#{reading.id}"

- audios = reading.audios
- audios = audios.sample(max) if max && audios.size > max
- audios.each_with_index do |audio, i|
  %button.btn.btn-sm{type: "button", class: klass, onclick: "document.getElementById('audio_#{audio.id}').play()", "data-id" => reading.id}= accent
  %audio{id: "audio_#{audio.id}"}
    %source{src: audio.url, type: "audio/mpeg"}
