/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/theme
 *= require jquery-ui/autocomplete
 */

/* Form errors. */
.field_with_errors {
  color: red;
}
.field_with_errors input {
  border-color: red;
}
.help-block {
  color: red !important;
}

/* Centered tables. */
.table-center {
  border-style: none !important;
  margin-left: auto;
  margin-right: auto;
}

/* For Todos. */
span.active {
  font-weight: bold;
}
span.inactive {
  text-decoration: line-through;
}
tr.last-updated {
  background-color: lightblue !important;
}

/* For monospaced textareas. */
textarea.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.8em;
}
