// Bootstrap overides.

$dropdown-link-hover-color: white
$dropdown-link-hover-bg: black

// Bootstrap

@import "bootstrap"

// Navbar

nav
  @extend .navbar, .navbar-expand-md, .navbar-light, .bg-light, .mb-3
  button
    @extend .navbar-toggler
    span
      @extend .navbar-toggler-icon
  #navbar
    ul
      @extend .navbar-nav
      &.left
        @extend .mr-auto
      &.right
        @extend .ml-auto
      &>li
        @extend .nav-item
        &>a
          @extend .nav-link
        .dropdown-menu
          &>a
            @extend .dropdown-item
          input[type="text"]
            @extend .ml-3

// Crud forms - adpated from Pragmatic Studio prepared files for Rails 6 course.

form.crud
  margin-top: 1.5rem

  label
    font-size: 1.1rem
    font-weight: 600
    display: block

  input:not([type="checkbox"]):not([type="submit"]), textarea, select:not(.datetime)
    @extend .form-control
    margin-bottom: 0.75rem
    width: 100%

  textarea
    @extend .text-monospace
    font-size: 0.9rem
    height: 100%

  input[type="checkbox"]
    // @extend .form-check-input   // this is causing problems
    width: 20px
    height: 20px

  div.field_with_errors
    display: inline
    label
      color: $red
    input[type="text"], textarea, select
      background: lighten($pink, 40%)

// Sections (used for forms).

section
  @extend .card, .border-dark, .mb-3

  .header
    @extend .card-header

  .body
    @extend .card-body

  .footer
    @extend .card-footer

// JQuery autocompleters. From https://stackoverflow.com/questions/28285813.

.ui-autocomplete
    position: absolute
    z-index: 1000
    cursor: default
    padding: 0
    margin-top: 2px
    list-style: none
    background-color: #ffffff
    border: 1px solid #ccc
    -webkit-border-radius: 5px
       -moz-border-radius: 5px
            border-radius: 5px
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)

.ui-autocomplete > li
  padding: 3px 20px

.ui-autocomplete > li.ui-state-focus
  background-color: #DDD

.ui-helper-hidden-accessible
  display: none

// Centering for plain tables.

.table-center
  border-style: none !important
  margin-left: auto
  margin-right: auto

// Article tables.

article

  table
    @extend .table-bordered, .mb-3
    margin-left: auto
    margin-right: auto

    td
      @extend .p-1

    th
      @extend .p-1

// Images

img.styled
  @extend .border, .border-dark, .rounded

// Pre's

pre
  @extend .border, .border-dark, .p-2

// Other imports

@import "risle"
@import "tree"
@import "wk"
