// SVG chess board.

// Namespace.
svg.board

  // Squares.
  rect.square
    &.white
      fill: #DB9
    &.black
      fill: #976

  // Active indicator.
  circle.active
    &.white
      fill: #FFF
      stroke: #000
    &.black
      fill: #000
      stroke: #FFF
