// Japan Prefectures Map (pages/prefectures).
#prefectures

  // Background.
  rect#background
    fill: white

  #hokkaido
    fill: #ef7979

  #touhoku
    fill: #efe979

  #kanto
    fill: #87ef79

  #chuubu, #sado-island
    fill: #79efdb

  #kansai, #awaji-island
    fill: #9579ef

  #chuugoku
    fill: #efb179

  #shikoku
    fill: #cc79ef

  #kyuushuu, #okinawa
    fill: #b4b4b4

  #boundary
    fill: none
    stroke: #ffffff
    stroke-width: 1
    stroke-linecap: butt
    stroke-linejoin: miter
    stroke-miterlimit: 4

  circle
    stroke: white
    stroke-width: 1

  circle.ken
    fill: green

  circle.shi
    fill: red

  line.separator
    fill: none
    stroke: gray
    stroke-width: 1
    stroke-dasharray: 2

  // temporary until we can get rid of remaining old stuff
  g.text
    fill: black

  text
    fill: black
    font-family: Verdana
    text-anchor: middle
    pointer-events: none

  text.ken
    font-size: 15px

  text.shi
    font-size: 8px
