// Rennie's Isle SVG map (pages/risle).

// Background grid.
line.grid
  stroke: #F4A460
line.grid.thin
  stroke-dasharray: 5 5
  stroke-width: 1
line.grid.thick
  stroke-dasharray: 10 10
  stroke-width: 2

// Parking bays.
g.bay
  rect
    rx: 5
    ry: 5
    fill: #2E8B57
    stroke: white
  text
    fill: #FFFFFF
    font-family: "Courier New"
    font-size: 20px
    text-anchor: middle
  &.focus
    rect
      fill: #32CD32
    text
      fill: black
      font-weight: bold
