// Rennie's Isle SVG map (pages/risle).

// Background.
rect.background
  fill: white

// Grid rid.
line.grid
  stroke: #D3D3D3
line.grid.thin
  stroke-dasharray: 5 5
  stroke-width: 1
line.grid.thick
  stroke-dasharray: 10 10
  stroke-width: 2

// Parking bays.
g.bay
  rect
    rx: 5
    ry: 5
    fill: #2E8B57
    stroke: #FFFFFF
  text
    fill: #FFFFFF
    font-family: Verdana
    font-size: 18px
    text-anchor: middle
  &.focus
    rect
      fill: #32CD32
    text
      fill: #000000
      font-weight: bold

// Buildings.
g.building
  polygon
    fill: #008B8B
    stroke: #E0FFFF
  text
    fill: #FFFFFF
    font-family: Verdana
    font-size: 36px
    text-anchor: middle
