// Family tree (people/elm)
#family-tree

  // Background.
  rect.background
    fill: #B0E0E6
    stroke: #2F4F4F

  // Box.
  rect.box
    fill: white
    stroke: black

  // Lines.
  line
    stroke: black

  // Two types of text.
  text
    font-family: Courier, monospace
    font-size: 16px
    text-anchor: middle
    &.small
      font-size: 12px
