radical
  font-weight: bold
  color: #00a2f3
kanji
  font-weight: bold
  color: #f500a3
reading
  font-weight: bold
vocabulary
  font-weight: bold
  color: #a900ff
ja
  font-weight: bold
.hidden
  text-decoration: line-through
.kanji-grid
  font-size: 1.5rem
  @media (min-width: 576px)
    font-size: 2rem
  @media (min-width: 768px)
    font-size: 3rem
  td
    width: 1.5em
    height: 1.5em
.tooltip.kana-tooltip
  --bs-tooltip-bg: red
