- marriages.matches.each do |marriage|
  %tr
    %td= link_to marriage.wedding, marriage
    %td= marriage.husband.name(reversed: true)
    %td= marriage.wife.name(reversed: true)
= render "utils/pagination_links", pager: marriages, columns: 3
