- bays.matches.each do |bay|
  %tr
    %td.col-xs-1.text-center= link_to bay.name, bay
    %td= link_to bay.resident.first_names, bay.resident if bay.resident
= render "utils/pagination_links", pager: bays, columns: 2
