- (0..2000).step(100).each do |x|
  %line{x1: x, y1: 0, x2: x, y2: 1000, class: "grid #{x % 500 == 0 ? 'thick' : 'thin'}"}

- (0..1000).step(100).each do |y|
  %line{x1: 0, y1: y, x2: 2000, y2: y, class: "grid #{y % 500 == 0 ? 'thick' : 'thin'}"}
