- d = []
- d.push "M 200 650 V 610 H 1036"
- d.push "A 100 100 0 0 0 1136 510 V 300"
- d.push "A 100 100 0 0 0 1036 200 V 100"
- d.push "L 1350 0 H 1570 L 1310 90"
- d.push "A 120 80 -19 0 0 1212 182"
- d.push "V 690 H 700 A 100 100 0 0 0 600 790 V 900 H 530 V 790 A 100 100 0 0 0 426 690"
- d.push "H 200 Z"

%g{class: "road"}
  %path{d: "#{d.join(' ')}"}
