- a = []
- a.push "M 200 650 V 610 H 1036"
- a.push "A 100 100 0 0 0 1136 510 V 300"
- a.push "A 100 100 0 0 0 1036 200 V 100"
- a.push "L 1350 0 H 1570 L 1310 90"
- a.push "A 120 80 -19 0 0 1212 182 V 350"
- a.push "A 100 100 0 0 0 1312 450"
- a.push "L 1300 420 L 1660 296 L 1710 444 L 1518 578 L 1478 522 L 1538 478 L 1492 414 L 1104 690"
- a.push "H 700 A 100 100 0 0 0 600 790 V 900 H 530 V 790 A 100 100 0 0 0 426 690"
- a.push "H 200 Z"
- b = []
- b.push "M 1658 0 L 1718 176 L 1702 182 L 1786 426"
- b.push "L 1928 572 L 1968 530 L 1848 404 L 1902 350"
- b.push "L 2000 450 2000 178"
- b.push "L 1820 240 1740 0 Z"

%g{class: "road"}
  %path{d: "#{a.join(' ')}"}
  %path{d: "#{b.join(' ')}"}
