%g{class: "text"}
  %text{id: "text-0", x: 60, y:  60}
  %text{id: "text-1", x: 90, y: 120}
  %text{id: "text-2", x: 90, y: 170}
  %text{id: "text-3", x: 90, y: 220}
  %text{id: "text-4", x: 90, y: 270}
