:ruby
  inputs = [
    [:jname,     t("place.jname"),    :text,   maxlength: Place::MAX_NAME],
    [:reading,   t("place.reading"),  :text,   maxlength: Place::MAX_NAME],
    [:ename,     t("place.ename"),    :text,   maxlength: Place::MAX_NAME],
    [:pop,       t("place.pop"),      :text],
    [:wiki,      t("place.wiki"),     :text,   maxlength: Place::MAX_WIKI],
    [:category,  t("place.category"), :select, menu: place_category_menu(place)],
    [:region_id, t("place.region"),   :select, menu: place_region_menu(place)],
    [:vbox,      t("place.vbox"),     :text,   maxlength: Place::MAX_VBOX],
  ]
= render "utils/crud/form", object: place, index: places_path, inputs: inputs, title: title
