%nav{class: "navbar navbar-default", role: "navigation"}
  .navbar-header
    %button{class: "navbar-toggle", type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-ex1-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse.navbar-ex1-collapse
    - if authenticated?
      %ul.nav.navbar-nav
        %li= link_to t("mass.mass"), graph_masses_path
        %li= link_to t("transaction.transactions"), transactions_path
    %ul.nav.navbar-nav.navbar-right
      = render "layouts/sign_in_out"
