- similar_words.matches.each do |similar_word|
  %tr
    %td= link_to similar_word.display, similar_word
    %td= similar_word.kanji_display
= render "utils/pagination_links", pager: similar_words, columns: 2
